<extend name="Base/base" />
<block name="body">
<div class="container">
  <h2>基本信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>投保人姓名</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.applicant}</td>
    </tr>
    <tr>
      <td>核定载质量</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.approved_load}</td>
    </tr>
    <tr>
      <td>核定座位</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.approved_passengers_capacity}</td>
    </tr>
    <tr>
      <td>汽车的厂牌</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.brand_model}</td>
    </tr>
    <tr>
      <td>汽车发动机号</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.engineer_num}</td>
    </tr>
    <tr>
      <td>被保险人证件</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.idcard_num}</td>
    </tr>
    <tr>
      <td>保额</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.insurance_amount}</td>
    </tr>
    <tr>
      <td>保单终止日期</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.insurance_end_date}</td>
    </tr>
    <tr>
      <td>险种名称</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.insurance_name}</td>
    </tr>
    <tr>
      <td>总保费</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.insurance_premium}</td>
    </tr>
    <tr>
      <td>保单开始日期</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.insurance_start_date}</td>
    </tr>
    <tr>
      <td>保单状态</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.insurance_status}</td>
    </tr>
    <tr>
      <td>被保人姓名</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.insurant}</td>
    </tr>
    <tr>
      <td>支付方式</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.mode_of_payment}</td>
    </tr>
    <tr>
      <td>已缴保费金额</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.paid_insurance_premium}</td>
    </tr>
    <tr>
      <td>保费支付日期</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.payment_date}</td>
    </tr>
    <tr>
      <td>被保险车辆车</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.plate_num}</td>
    </tr>
    <tr>
      <td>保单号</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.policy_num}</td>
    </tr>
    <tr>
      <td>欠缴保费金额</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.unpaid_insurance_premium}</td>
    </tr>
    <tr>
      <td>车辆使用性质</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.use_character}</td>
    </tr>
    <tr>
      <td>汽车车架号</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.vehicle_frame_num}</td>
    </tr>
    <tr>
      <td>车辆类型</td>
      <td>{$data.basic_version.insurance_vehicle_info.0.basic_info.vehicle_type}</td>
    </tr>
  </table>
</div>
</block>
