<extend name="Base/base" />
<block name="body">
<div class="container">
  <h2>基本信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>token</td>
      <td>{$data.basic_version.token}</td>
    </tr>
    <tr>
      <td>登记姓名</td>
      <td>{$data.basic_version.real_name}</td>
    </tr>
    <tr>
      <td>身份证号</td>
      <td>{$data.basic_version.id_card}</td>
    </tr>
    <tr>
      <td>公积金帐号</td>
      <td>{$data.basic_version.employee_code}</td>
    </tr>
    <tr>
      <td>更新时间</td>
      <td>{$data.basic_version.update_time}</td>
    </tr>
    <tr>
      <td>公积金帐号状态</td>
      <td>{$data.basic_version.housing_fund_status}</td>
    </tr>
    <tr>
      <td>开户日期</td>
      <td>{$data.basic_version.open_date}</td>
    </tr>
    <tr>
      <td>所属单位</td>
      <td>{$data.basic_version.company}</td>
    </tr>
    <tr>
      <td>开户银行名</td>
      <td>{$data.basic_version.open_bank_name}</td>
    </tr>
    <tr>
      <td>开户银行帐号</td>
      <td>{$data.basic_version.open_bank_account}</td>
    </tr>
    <tr>
      <td>个人缴费比例</td>
      <td>{$data.basic_version.deposit_ratio_personal}</td>
    </tr>
    <tr>
      <td>单位缴费比例</td>
      <td>{$data.basic_version.deposit_ratio_company}</td>
    </tr>
    <tr>
      <td>月缴存额</td>
      <td>{$data.basic_version.fund_amt}</td>
    </tr>
    <tr>
      <td>末年缴存额</td>
      <td>{$data.basic_version.last_fund_date}</td>
    </tr>
    <tr>
      <td>账户余额</td>
      <td>{$data.basic_version.balance}</td>
    </tr>
    <tr>
      <td>转出金额</td>
      <td>{$data.basic_version.transfer_amount}</td>
    </tr>
    <tr>
      <td>公司编号</td>
      <td>{$data.basic_version.company_code}</td>
    </tr>
    <tr>
      <td>员工编号</td>
      <td>{$data.basic_version.employee_code}</td>
    </tr>
    <tr>
      <td>缴费基数</td>
      <td>{$data.basic_version.pay_base_amount}</td>
    </tr>
  </table>
</div>
</block>
