<extend name="Base/base" />
<block name="body">
<div class="container">
  <h2>基本信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>姓名</td>
      <td>{$data.basic_version.name}</td>
    </tr>
    <tr>
      <td>出生日期</td>
      <td>{$data.basic_version.birth_date}</td>
    </tr>
    <tr>
      <td>证件号码</td>
      <td>{$data.basic_version.certificate_number}</td>
    </tr>
    <tr>
      <td>证件类型</td>
      <td>{$data.basic_version.certificate_type}</td>
    </tr>
    <tr>
      <td>联系地址</td>
      <td>{$data.basic_version.contact_address_address}</td>
    </tr>
    <tr>
      <td>地区</td>
      <td>{$data.basic_version.contact_address_area}</td>
    </tr>
    <tr>
      <td>教育背景</td>
      <td></td>
    </tr>
    <tr>
      <td>邮箱</td>
      <td>{$data.basic_version.email}</td>
    </tr>
    <tr>
      <td>性别</td>
      <td>{$data.basic_version.gender}</td>
    </tr>
    <tr>
      <td>经常居住地-详细地址</td>
      <td>{$data.basic_version.habitual_residence_address}</td>
    </tr>
    <tr>
      <td>经常居住地-所在地区</td>
      <td>{$data.basic_version.habitual_residence_area}</td>
    </tr>
    <tr>
      <td>户籍所在地-详细地址</td>
      <td>{$data.basic_version.household_registration_address}</td>
    </tr>
    <tr>
      <td>户籍所在地-所在地区</td>
      <td>{$data.basic_version.household_registration_area}</td>
    </tr>
    <tr>
      <td>民族</td>
      <td>{$data.basic_version.nation}</td>
    </tr>
    <tr>
      <td>国籍</td>
      <td>{$data.basic_version.nationality}</td>
    </tr>
    <tr>
      <td>纳税人识别号</td>
      <td>{$data.basic_version.certificate_number}</td>
    </tr>
  </table>
</div>
</block>
