<extend name="Base/base" />
<block name="body">
<div class="row with-padding bg-primary" style="font-size:20px; padding:10px 0px;">
  <div class="col-xs-3 text-center">
    <a href="/index/product" style="color:#ffffff;"><i class="icon-chevron-left"></i></a> 
  </div>
  <div class="col-xs-6 text-center">
    <strong>报告查询</strong>
  </div>
  <div class="col-xs-3"></div>
</div>
<div class="container" style="margin-top:20px;">
  <blockquote>授权中心</blockquote>  
  <div class="cards">
    <foreach name="product_list" item="item">
    <div class="col-xs-4">
      <div class="card" style="text-align:center;">
        <a href="/data_platform/report.html?type={$item.type}" >
          <p> </p>
          <i class="fa {$item.icon} fa-2x"></i>
          <p>{$item.name}<p>
        </a>
      </div>
    </div>
    </foreach>
  </div>
</div>
</block>
