<extend name="Base/base" />
<block name="body">
<div class="container">
  <h2>基本信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>地址</td>
      <td>{$data.basic_version.data.basic_info.address}</td>
    </tr>
    <tr>
      <td>账户余额</td>
      <td>{$data.basic_version.data.basic_info.balance}</td>
    </tr>
    <tr>
      <td>邮箱</td>
      <td>{$data.basic_version.data.basic_info.email}</td>
    </tr>
    <tr>
      <td>性别</td>
      <td>{$data.basic_version.data.basic_info.gender}</td>
    </tr>
    <tr>
      <td>信用等级</td>
      <td>{$data.basic_version.data.basic_info.grade}</td>
    </tr>
    <tr>
      <td>证件号码</td>
      <td>{$data.basic_version.data.basic_info.id_card_num}</td>
    </tr>
    <tr>
      <td>姓名</td>
      <td>{$data.basic_version.data.basic_info.name}</td>
    </tr>
    <tr>
      <td>昵称</td>
      <td>{$data.basic_version.data.basic_info.nick_name}</td>
    </tr>
    <tr>
      <td>手机号码</td>
      <td>{$data.basic_version.data.basic_info.phone_num}</td>
    </tr>
    <tr>
      <td>注册时间</td>
      <td>{$data.basic_version.data.basic_info.regist_time}</td>
    </tr>
    <tr>
      <td>芝麻信用分</td>
      <td>{$data.basic_version.data.basic_info.zm_credit}</td>
    </tr>
  </table>
</div>
</block>
