<extend name="Base/base" />
<block name="body">
<div class="container">
  <h2>基本信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>姓名</td>
      <td>{$data.basic_version.data.info.basic_info.name}</td>
    </tr>
    <tr>
      <td>身份证号</td>
      <td>{$data.basic_version.data.info.basic_info.id_card_num}</td>
    </tr>
    <tr>
      <td>电话号码</td>
      <td>{$data.basic_version.data.info.basic_info.phone}</td>
    </tr>
    <tr>
      <td>是否能打通</td>
      <td>{$data.basic_version.data.info.basic_info.can_call}</td>
    </tr>
    <tr>
      <td>年龄</td>
      <td>{$data.basic_version.data.info.basic_info.age}</td>
    </tr>
    <tr>
      <td>性别</td>
      <td>{$data.basic_version.data.info.basic_info.sex}</td>
    </tr>
    <tr>
      <td>地区</td>
      <td>{$data.basic_version.data.info.basic_info.area}</td>
    </tr>
    <tr>
      <td>最高学历</td>
      <td>{$data.basic_version.data.info.basic_info.highest_education}</td>
    </tr>
    <tr>
      <td>毕业院校</td>
      <td>{$data.basic_version.data.info.basic_info.graduate_from}</td>
    </tr>
    <tr>
      <td>工作</td>
      <td>{$data.basic_version.data.info.basic_info.job}</td>
    </tr>
    <tr>
      <td>工作地点</td>
      <td>{$data.basic_version.data.info.basic_info.work_areas}</td>
    </tr>
    <tr>
      <td>公司验证状态</td>
      <td>{$data.basic_version.data.info.basic_info.company_verify_state}</td>
    </tr>
    <tr>
      <td>专业</td>
      <td>{$data.basic_version.data.info.basic_info.zy}</td>
    </tr>
    <tr>
      <td>等级</td>
      <td>{$data.basic_version.data.info.basic_info.level}</td>
    </tr>
    <tr>
      <td>等级名称</td>
      <td>{$data.basic_version.data.info.basic_info.level_title}</td>
    </tr>
    <tr>
      <td>注册时间</td>
      <td>{$data.basic_version.data.info.basic_info.register_time}</td>
    </tr>
    <tr>
      <td>认证项</td>
      <td>{$data.basic_version.data.info.basic_info.ident_num}</td>
    </tr>
    <tr>
      <td>粉丝</td>
      <td>{$data.basic_version.data.info.basic_info.follow_count}</td>
    </tr>
    <tr>
      <td>姓名</td>
      <td>{$data.basic_version.data.info.basic_info.name}</td>
    </tr>
  </table>
</div>
</block>
