<extend name="Base/base" />
<block name="body">
<div class="container">
  <h2>基本信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>用户名</td>
      <td>{$data.basic_version.user_data.user_info.account}</td>
    </tr>
    <tr>
      <td>姓名</td>
      <td>{$data.basic_version.user_data.user_info.name}</td>
    </tr>
    <tr>
      <td>性别</td>
      <td>{$data.basic_version.user_data.user_info.gender}</td>
    </tr>
    <tr>
      <td>出生日期</td>
      <td>{$data.basic_version.user_data.user_info.birthday}</td>
    </tr>
    <tr>
      <td>用户ID</td>
      <td>{$data.basic_version.user_data.user_info.id}</td>
    </tr>
    <tr>
      <td>电话</td>
      <td>{$data.basic_version.user_data.user_info.mobile}</td>
    </tr>
    <tr>
      <td>手机号</td>
      <td>{$data.basic_version.user_data.user_info.phone}</td>
    </tr>
    <tr>
      <td>工作职务</td>
      <td>{$data.basic_version.user_data.user_info.position}</td>
    </tr>
    <tr>
      <td>行业/方向/影响</td>
      <td>{$data.basic_version.user_data.user_info.business}</td>
    </tr>
    <tr>
      <td>当前所在省份</td>
      <td>{$data.basic_version.user_data.user_info.province}</td>
    </tr>
    <tr>
      <td>当前所在城市</td>
      <td>{$data.basic_version.user_data.user_info.city}</td>
    </tr>
    <tr>
      <td>邮箱</td>
      <td>{$data.basic_version.user_data.user_info.email}</td>
    </tr>
    <tr>
      <td>用户自我介绍</td>
      <td>{$data.basic_version.user_data.user_info.head_line}</td>
    </tr>
    <tr>
      <td>户口城市</td>
      <td>{$data.basic_version.user_data.user_info.home_city}</td>
    </tr>
    <tr>
      <td>户口省份</td>
      <td>{$data.basic_version.user_data.user_info.home_province}</td>
    </tr>
    <tr>
      <td>系统评分</td>
      <td>{$data.basic_version.user_data.user_info.rank}</td>
    </tr>
    <tr>
      <td>用户标签</td>
      <td>{$data.basic_version.user_data.user_info.tags}</td>
    </tr>
  </table>
</div>
</block>
