<extend name="Base/base" />
<block name="body">
<div class="container">
  <h2>基本信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>token</td>
      <td>{$data.basic_version.token}</td>
    </tr>
    <tr>
      <td>姓名</td>
      <td>{$data.basic_version.user_name}</td>
    </tr>
    <tr>
      <td>身份证</td>
      <td>{$data.basic_version.user_idcard}</td>
    </tr>
    <tr>
      <td>社保帐号</td>
      <td>{$data.basic_version.soins_num}</td>
    </tr>
    <tr>
      <td>社保状态</td>
      <td>{$data.basic_version.soins_status}</td>
    </tr>
    <tr>
      <td>开户日期</td>
      <td>{$data.basic_version.open_time}</td>
    </tr>
    <tr>
      <td>开户区号</td>
      <td>{$data.basic_version.soins_area}</td>
    </tr>
    <tr>
      <td>开户省份</td>
      <td>{$data.basic_version.soins_prov}</td>
    </tr>
    <tr>
      <td>开户城市</td>
      <td>{$data.basic_version.soins_city}</td>
    </tr>
    <tr>
      <td>开户机构</td>
      <td>{$data.basic_version.soins_org}</td>
    </tr>
    <tr>
      <td>用户所在地</td>
      <td>{$data.basic_version.soins_area}</td>
    </tr>
    <tr>
      <td>更新时间</td>
      <td>{$data.basic_version.update_time}</td>
    </tr>
  </table>
</div>
</block>
