<extend name="Base/base" />
<block name="body">
<div class="container">
  <h2>基本信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>姓名</td>
      <td>{$data.basic_version.data.basic_info.name}</td>
    </tr>
    <tr>
      <td>昵称</td>
      <td>{$data.basic_version.data.basic_info.nick_name}</td>
    </tr>
    <tr>
      <td>手机号</td>
      <td>{$data.basic_version.data.basic_info.mobile_phone}</td>
    </tr>
    <tr>
      <td>城市</td>
      <td>{$data.basic_version.data.basic_info.city}</td>
    </tr>
    <tr>
      <td>身份证号</td>
      <td>{$data.basic_version.data.basic_info.id_card_num}</td>
    </tr>
  </table>
</div>
</block>
