<extend name="Base/common" />
<block name="body">
<style>
.focus{ height:140px;  margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:5px; text-align:center;  }
.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7); 
  -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
}
      .focus .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
      .focus .hd ul .on{ background:#FE6C9C;  }

      .focus .bd{ position:relative; z-index:0; }
      .focus .bd li img{ width:100%;  height:140px; background:url(images/loading.gif) center center no-repeat;  }
      .focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }

.progress{
    height: 7px;
        background: #cccccc;
            border-radius: 0;
                box-shadow: none;
                        overflow: visible;
                            position: relative;
}
.progress-bar {
    float: left;
        width: 0%;
            height: 100%;
                font-size: @font-size-small;
                    line-height: @line-height-computed;
                        color: @progress-bar-color;
                            text-align: center;
                                background-color: @progress-bar-bg;
                                    .box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
                                      .transition(width .6s ease);
}
.progress .progress-bar{
    box-shadow: none;
        border-radius: 0;
            position: relative;
                -webkit-animation: animate-positive 2s;
                    animation: animate-positive 2s;
}
@-webkit-keyframes animate-positive{
    0% { width: 0; }
}
@keyframes animate-positive{
    0% { width: 0; }
}
.buttons-tab2 {
    -webkit-align-self: center;
        align-self: center;
            display: -webkit-box;
                display: -webkit-flex;
                    display: flex;
                        -webkit-box-lines: single;
                            -moz-box-lines: single;
                                -webkit-flex-wrap: nowrap;
                                    flex-wrap: nowrap;
}

.buttons-tab2 {
    background: white;
        position: relative;
}
.buttons-tab2:after {
    content: '';
        position: absolute;
            left: 0;
                bottom: 0;
                    right: auto;
                        top: auto;
                            height: 1px;
                                width: 100%;
                                    background-color: #d0d0d0;
                                        display: block;
                                            z-index: 15;
                                                -webkit-transform-origin: 50% 100%;
                                                            transform-origin: 50% 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .buttons-tab2:after {
          -webkit-transform: scaleY(0.5);
                        transform: scaleY(0.5);
                            }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .buttons-tab2:after {
          -webkit-transform: scaleY(0.33);
                        transform: scaleY(0.33);
                            }
}
.buttons-tab2 .button {
    color: #5f646e;
        font-size: 0.8rem;
            width: 100%;
                height: 2rem;
                    line-height: 2rem;
                        -webkit-box-flex: 1;
                            -ms-flex: 1;
                                border: 0;
                                    border-bottom: 2px solid transparent;
                                        border-radius: 0;
}
.buttons-tab2 .button.active {
    color: #0894ec;
        border-color: #0894ec;
            z-index: 100;
}
</style>
<div class="content">
  <!--幻灯-->
  <div id="focus" class="focus">
    <div class="hd">
      <ul></ul>
    </div>
    <div class="bd">
      <ul>
        <li><a href="#"><img _src="http://www.superslide2.com/TouchSlide/demo/images/m2.jpg" src="__TOOL__/TouchSlide1.1-00/images/blank.png" /></a></li>
        <li><a href="#"><img _src="http://www.superslide2.com/TouchSlide/demo/images/m2.jpg" src="__TOOL__/TouchSlide1.1-00/images/blank.png"/></a></li>
        <li><a href="#"><img _src="http://www.superslide2.com/TouchSlide/demo/images/m2.jpg" src="__TOOL__/TouchSlide1.1-00/images/blank.png"/></a></li>
      </ul>
    </div>
  </div>
  <!--幻灯-->
  <!--导航-->
  <div class="buttons-tab2">
    <a href="{:U('/index/index', array('cid' => 0))}" class="<if condition='$cid eq 0'>active</if> button">全部</a>
    <foreach name="category_list" item="item">
    <a href="{:U('/index/index', array('cid' => $item['id']))}" class="<if condition='$cid eq $item[id]'>active</if> button">{$item.name}</a>
    </foreach>
  </div>
  <!--导航-->
  <!--列表-->
  <foreach name="product_list" item="item">
  <a href="{:U('/product/info', array('id' => $item['id']))}">
    <div class="card demo-card-header-pic">
      <div valign="bottom" class="card-header color-white no-border no-padding">
        <img class='card-cover' src="{$item.pic}" alt="">
      </div>
      <div class="card-content">
        <div class="card-content-inner">
          <p style="color:#333333;">{$item.title}</p>
          <p class="color-gray">目标 <span style="color:#FF2E2E;">￥{$item.total_fee}</span><span style="float:right; color:#FF2E2E;">￥{$item.current_fee}</span></p>
          <?php $je = ceil($item['current_fee']/$item['total_fee']*100);?>
          <?php $je_2 = $je > 100 ? 100 : $je;?>
          <div class="progress pink">
            <div class="progress-bar" style="width:{$je_2}%; background:#00E4E5;">
            </div>
          </div>
          <p><span>当前进度：{$je}%</span><span style="float:right; color:#777777;">{$item.online_time|date="Y-m-d",###}</span></p>
        </div>
      </div>
    </div>
  </a>
  </foreach>
  <!--列表-->
</div>
<literal>
<script type="text/javascript">
$(function(){
  TouchSlide({ 
    slideCell:"#focus",
    titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
    mainCell:".bd ul", 
    effect:"left", 
    autoPlay:true,//自动播放
    autoPage:true, //自动分页
    switchLoad:"_src" //切换加载，真实图片路径为"_src" 
  });
})
</script>
</literal>
</block>
