<extend name="Base/common" />
<block name="body">
<div class="page-container">
  <form action="#" method="post" class="form form-horizontal">
    <input type="hidden" name="id" value="{$withdraw_info['id']}"/>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">
        <span class="c-red">*</span>
        客户号
      </label>
      <div class="formControls col-xs-8 col-sm-9">
        {$withdraw_info['customerCode']}
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">
        <span class="c-red">*</span>
        转账金额
      </label>
      <div class="formControls col-xs-8 col-sm-9">
        <input type="text" class="input-text" value="{$withdraw_info['transferAmount']}" placeholder="" name="transferAmount">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">
        <span class="c-red">*</span>
        银行卡号
      </label>
      <div class="formControls col-xs-8 col-sm-9">
        {$withdraw_info['bankCard']}
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">
        <span class="c-red">*</span>
        银行
      </label>
      <div class="formControls col-xs-8 col-sm-9">
        <foreach name="bank_list" item="bank">
        <if condition="$bank['code'] eq $withdraw_info['bankCode']">
        {$bank['name']}
        </if>
        </foreach>
      </div>
    </div>
    <div class="row cl">
      <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
        <button type="submit" class="btn btn-success radius" id="admin-role-save"><i class="icon-ok"></i> 确定</button>
      </div>
    </div>
  </form>
</div>
</block>
