<extend name="Base/common" />
<block name="body">
<div class="page-container">
  <table class="table table-border table-bordered table-bg">
    <thead>
      <tr>
        <th>ID</th>
        <th>商户</th>
        <th>金额</th>
        <th>银行卡号</th>
        <th>银行</th>
        <th>当前状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    <foreach name="list" item="item">
    <tr>
      <td>{$item['id']}</td>
      <td>{$item['customerCode']}</td>
      <td>{$item['transferAmount']}</td>
      <td>{$item['bankCard']}</td>
      <td>{$item['bankCode']}</td>
      <td>
        <if condition="$item['status'] eq 1">
        已处理
        </if>
        <if condition="$item['status'] eq 0">
        未处理
        </if>
      </td>
      <td>
        <if condition="$item['status'] eq 0">
        <a href="{:U('/admin/ebp/transfer', array('id' => $item['id']))}">转账</a> 
        </if>
      </td>
    </tr>
    </foreach>
    </tbody>
  </table>
</div>
</block>
