<extend name="Base/common" />
<block name="body">
<style>
body{background:#FF0000; }
</style>
<div class="container">
  <span style="background:#ffffff; padding:20px; padding-top:36px; border-radius:0 0 10px 10px; color:#FF0000; font-size:24px; display:inline-block;">
    <i class="icon icon-heart icon-2x"></i> 
    知心人
  </span>
  <video width="520" height="700" autoplay="autoplay" loop="loop" src="__PUBLIC__/d.mp4">
  </video>
  <div style="padding:0px 20px;">
    <h1 style="color:#ffffff; font-weight:900; font-size:35px; margin-top:100px; text-align:center;">用视频认识身边的人</h1>
    <p style="color:#ffffff; font-size:16px; margin-top:20px;">知心人APP，旨在打造一个短视频方式认识身边人的平台，用户须拍摄短视频，且无法上传本地他人视频，要求视频是本人且能看到面部，以确保视频的真实性。</p>
    <p style="color:#ffffff; font-size:16px; margin-top:20px;">如果你喜欢的人也喜欢你，才可以配对聊天。</p>
    <div style="text-align:center; margin-top:60px;">
      <span style="padding:20px 50px; color:#FF0000; background:#ffffff; font-size:20px; border-radius:50px;">下载 APP</span>
    </div>
    <div style="text-align:center; margin-top:60px;">
      <p style="color:#ffffff;">美好生活网络科技有限公司 京ICP证160563号</p>
      <p style="color:#ffffff;">京公网安备 11010502030901号</p>
      <p style="color:#ffffff;">E-mail:zhixinrenapp@163.com</p>
      <p style="color:#ffffff;">北京市朝阳区光华路9号楼4层409</p>
    </div>
  </div>
</div>
</block>
