<extend name="Base/common" />
<block name="body">
<div class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="panel panel-default">
            <div class="panel-header">账户信息</div>
            <div class="panel-body">
              <table class="table table-border table-bordered">
                <tbody>
                  <tr>
                    <td>商户号</td>
                    <td>{$account_info.customerCode}</td>
                  </tr>
                  <tr>
                    <td>密钥</td>
                    <td>{$account_info.SecretKey}</td>
                  </tr>
                  <tr>
                    <td>账户号</td>
                    <td>{$b_account_info.body.merAcctNo}</td>
                  </tr>
                  <tr>
                    <td>账户类型</td>
                    <td>自有账户</td>
                  </tr>
                  <tr>
                    <td>交易币种</td>
                    <td>人民币</td>
                  </tr>
                  <tr>
                    <td>用户</td>
                    <td>{$account_info.userName}</td>
                  </tr>
                  <tr>
                    <td>身份证</td>
                    <td>{$account_info.identityNo}</td>
                  </tr>
                  <tr>
                    <td>电话</td>
                    <td>{$account_info.mobiePhoneNo}</td>
                  </tr>
                  <tr>
                    <td>创建时间</td>
                    <td>{$account_info.created_time|date="Y-m-d", ###}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div> 
    </div>
  </div>
</div>
</block>
