<extend name="Base/base" />
<block name="body">
<div class="container" style="margin-top:20px;">
  <article class="article">
    <header>
      <h1>隐私政策</h1>
      <!-- 文章属性列表 -->
    </header>
    <!-- 文章正文部分 -->
    <section class="content">
      <p>
      本协议由您与全网资信平台的经营者洛阳少扬实业有限公司共同缔结，具有合同效力。本协议项下“全网资信”是指洛阳少扬实业有限公司。“用户”是指使用全网资信相关服务的使用人，在本协议中更多的称为“您”。
      <p>
      </p>
您在本公司提供的网络页面上或在全网资信授权的第三方提供的网络页面上点击以合理的方式表明您希望与全网资信签订本协议的按钮（例如：按钮上书写“注册全网资信”或类似文字，且页面上同时列明了本协议的内容或者可以有效展示本协议内容的链接），或您与全网资信以其他合理方式表明您与全网资信订立了本协议时，即表明本协议在您与全网资信之间成立并生效。 本协议生效即表示您同意全网资信按照《隐私政策》使用您的信息。
      <p>
      </p>
请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、授权的条款、争议解决和法律适用条款，以及开通或使用各项服务的单独协议。免除或者限制责任的条款、授权的条款可能以加粗字体显示，您应重点阅读。
      <p>
      </p>
一、声明与承诺
      <p>
      </p>
（一）您承诺在注册全网资信用户及使用全网资信服务之前，您已审慎阅读、充分理解本协议各条款内容，一旦您使用全网资信服务，即表示您同意遵循本协议之所有约定。
      <p>
      </p>
（二）您同意全网资信有权随时对本协议内容进行单方面的变更，由于全网资信的用户群过于庞大和分散，因此本协议如发生变更，全网资信将在官方网站以公告的方式提前予以公布而不另行单独通知您；若您在本协议内容变更生效后继续使用本服务的，表示您已充分阅读、理解并接受修改后的协议内容，也将遵循修改后的协议内容使用本服务；若您不同意修改后的协议内容，您应立即停止使用本服务。
      <p>
      </p>
（三）您声明在您同意接受本协议并注册成为全网资信用户时，您是具有法律规定的完全民事权利能力和民事行为能力、能够独立承担民事责任的自然人；若您不具备前述主体资格，请您立即停止注册或停止使用全网资信服务。
      <p>
      </p>
（四）您同意您与全网资信或其他用户之间订立的合同/协议或其他文件等文书，均可采用电子签名、数据电文的形式签订；您认可采用电子签名、数据电文的形式签订的合同/协议或其他文件等文书的法律效力，不得因采用电子签名、数据电文的形式而否定其法律效力。
      <p>
      </p>
（五）您同意为确保交易安全有效，应使用合法有效的数字证书来完成交易文书的签署及交易行为的确认，您同意并授权全网资信将您的相关信息提交至权威的第三方电子认证服务机构代为申请专属于您的数字证书，且同意该数字证书可在全网资信及与全网资信合作的商户提供的服务中使用。
      <p>
      </p>
二、全网资信服务
      <p>
      </p>
（一）本协议项下的服务是指全网资信向您提供的包括但不限于个人信息查询、企业信息查询、身份认证，具体以全网资信当时所提供的服务内容为准。
      <p>
      </p>
（二）全网资信服务的部分内容需要您依照全网资信的要求完成身份认证，未进行身份认证的用户将无法使用该部分全网资信服务。因未能完成身份认证而无法享受全网资信服务造成的损失，全网资信不承担任何责任。
      <p>
      </p>
（三）全网资信资金账户服务：
      <p>
      </p>
1、您可以使用全网资信指定的方式向您在全网资信的账户中充入资金。
      <p>
      </p>
2、您可以要求全网资信代为收取其他全网资信用户向您支付的款项。
      <p>
      </p>
3、您可以要求全网资信将您的款项支付给您指定的全网资信其他用户。您同意全网资信代付后，非经法律程序或者非依本协议之约定，该支付是不可逆转的。
      <p>
      </p>
4、您的资金可以用于使用全网资信服务，及通过全网资信进行交易。
      <p>
      </p>
5、您的资金账户中全网资信赠送给您的资金不支持提现。全网资信有权利根据实际情况，随时对此提现规则进行修改。
      <p>
      </p>
6、您可以根据资金提现规则要求全网资信退返（提现）您的款项。当您向全网资信做出退返（提现）指示时，必须提供一个您本人持有并已经通过全网资信认证的国内银行账户，但全网资信不对资金到账时间做任何承诺。
      <p>
      </p>
7、您可以通过您的账户实时查询您的交易记录，您认为记录有误的，全网资信将向您提供按照您的指示收付款的记录。您理解并同意您最终收到款项的服务是由您提供的银行账户对应的银行提供的，您需向该银行请求查证。
      <p>
      </p>
8、您应当设置支付密码，全网资信通过您的支付密码识别您的指示，请您妥善保管您的支付密码，对因支付密码泄露导致的损失，由您自行承担。
      <p>
      </p>
9、全网资信服务所涉及到的任何款项只以人民币结算，并且不产生任何利息。
      <p>
      </p>
10、您在使用本服务时，可能由于银行系统问题、银行相关作业网络连线问题、支付机构产生的问题或其他不可抗拒因素，造成本服务无法正常提供，全网资信不承担任何责任。
      <p>
      </p>
（四）全网资信部分服务需要收取服务费用，各项服务费用详见全网资信相应服务页面所列的收费方式。全网资信可能根据实际需要对收费服务的收费标准、方式进行修改或变更，全网资信也可能会对部分免费服务开始收费。前述修改、变更或开始收费前，全网资信将在相应服务页面列明。如果您不同意上述修改、变更或付费内容，则应立即停止使用该服务。
      <p>
      </p>
（五）您在使用全网资信服务的交易过程中，若与其他用户发生交易纠纷，一旦您或其他用户任一方或双方共同提交全网资信要求调处，则全网资信作为独立第三方，有权根据单方判断做出调处决定，您了解并同意接受全网资信的判断和调处决定。
      <p>
      </p>
（六）您在使用全网资信服务过程中，所产生的应纳税赋，以及一切硬件、软件、服务及其他方面的费用，均由您独自承担。
      <p>
      </p>
（七）您同意基于运行和交易安全的需要，全网资信可以暂时停止提供或者限制本服务部分功能，或提供新的功能。
      <p>
      </p>
三、全网资信帐户
      <p>
      </p>
（一）注册相关
      <p>
      </p>
在使用全网资信服务前，您必须先行注册，取得“全网资信帐户”。您同意：
      <p>
      </p>
1、使用本人真实身份注册全网资信帐户，在注册过程中，填写真实的、最新的信息。您同意全网资信可以对您进行身份核查或验证，如果全网资信判断为冒用他人信息，全网资信有权在不通知您的情况下凭单方判断注销您的帐户并追究相应的法律责任。
      <p>
      </p>
2、提供真实、有效、完整的信息，并保持及时更新。如因您未及时更新信息，导致全网资信服务无法提供或提供时发生任何错误，您不得将此作为取消交易或拒绝付款的理由，全网资信亦不承担任何责任。
      <p>
      </p>
3、一般情况下，您可随时浏览、修改自己提交的信息，但出于安全性和身份识别的考虑，您将无法修改姓名和身份证号码信息，您可能无法修改注册时提供的初始注册信息、其他验证信息及用于交易的信息。
      <p>
      </p>
4、当您注册全网资信后，即是证明、声明、授权全网资信可收集、使用和提供您的信息、您在全网资信发布的信息及其他相关信息等。
      <p>
      </p>
（二）帐户安全
      <p>
      </p>
您将对使用您的全网资信帐户及密码进行的一切操作及言论负完全的责任。
      <p>
      </p>
1、您应妥善保管您的帐号和密码，当您使用完毕后，应安全退出，因您保管不善可能导致遭受帐号和密码失窃，由此造成的一切损失和信息泄露的风险由您自行承担。
      <p>
      </p>
2、您不得以任何方式转让、继受、售卖、出借全网资信帐号，一经发现，全网资信有权在不通知您的情况下单方注销您的全网资信帐号，行为情节恶劣的，全网资信保留对您提起诉讼或求偿的权利。
      <p>
      </p>
3、如果您发现有第三人冒用或盗用您的帐号及密码，或其他任何未经合法授权的情形，应立即以有效方式（包括帐户帮助、意见反馈、通知客服等方式）通知全网资信，要求全网资信暂停相关服务，否则由此产生的一切责任由您来承担。同时，您理解全网资信对用户的请求采取行动需要合理时间，在此之前，全网资信对第三人使用该服务所导致的损失不承担任何责任。
      <p>
      </p>
4、为保障帐户的安全，全网资信有权基于单方判断，在其认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向您提供本协议项下的全部或部分服务（包括收费服务），并将注册信息移除或删除，且无需对您或任何第三方承担任何责任。前述情形包括但不限于：
      <p>
      </p>
（1）全网资信认为您提供的信息不具有真实性、有效性或完整性。
      <p>
      </p>
（2）全网资信发现有异常交易、有疑义或有违法之虞。
      <p>
      </p>
（3）全网资信认为您的帐户涉嫌洗钱、套现、传销、被冒用或其他全网资信认为有风险的情形。
      <p>
      </p>
（4）全网资信认为您已经违反本协议的规定或精神。
      <p>
      </p>
（5）您在使用全网资信收费服务时未按规定向全网资信支付相应的服务费用。
      <p>
      </p>
（6）您帐户已连续12个月未实际使用且帐户中余额为零。
      <p>
      </p>
（7）全网资信基于交易安全等其他原因。
      <p>
      </p>
5、您同意用户帐户的暂停、中断或终止不代表用户责任的终止，用户仍应对使用全网资信服务期间的行为承担可能的违约或损害赔偿责任，同时全网资信仍可保有用户的相关信息。
      <p>
      </p>
四、个人用户隐私保护及授权条款
      <p>
      </p>
（一）全网资信保证在法律、行政法规允许的范围内收集您的信息。为了您正常使用本服务，在您使用本服务的全部期间，您授权全网资信可以向合法存有您的信息的机构和个人收集您的信息。为了免除您重复授权的不便，您做出前述授权，即表明前述机构和个人无需再逐一向您另行获得其向全网资信提供您的信息的授权，也无需再另行通知您，前述机构和个人可以依您在本协议中的授权径行向全网资信提供您的信息。
      <p>
      </p>
（二）您理解并同意，如果您向第三方承诺在一定期间内不可撤销地授权该第三方可以向全网资信收集您的信息，而您在该期间内又单独向全网资信要求禁止该第三方收集您的信息，全网资信可以拒绝您的要求。因为这是一种违反承诺的表现，可能损害第三方的合法权益、信赖利益与全网资信的信誉。此外，如果您因使用全网资信服务而享受了第三方的服务，但第三方通知全网资信您未按约履行因您享受该第三方服务而产生的义务，全网资信有权将能够联系到您的相关信息提供给该第三方用于责任追究。
      <p>
      </p>
（三）全网资信对于您的信息将按本协议及《隐私政策》进行收集、使用和提供。
      <p>
      </p>
（四）为实现全网资信为您所提供的服务，您同意并授权全网资信及全网资信合作机构可以收集、使用、处理、保存和提供您的信息（包括但不限于您提供给全网资信的信息、全网资信从您目前及以前在全网资信上的活动所获取的信息以及全网资信通过其他方式自行收集的信息）。
      <p>
      </p>
（五）在不透露您的隐私信息的前提下，全网资信有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
      <p>
      </p>
（六）您同意全网资信可使用关于您的信息（包括但不限于您提供给全网资信的信息、全网资信从您目前及以前在全网资信上的活动所获取的其他信息以及全网资信通过其他方式自行收集的信息）以解决争议、对纠纷进行调停。
      <p>
      </p>
（七）为确保您的信息安全，全网资信对上述信息负有保密义务，并采取各种措施保证信息安全。
      <p>
      </p>
（八）全网资信有义务根据有关法律法规要求向司法机关和政府部门等提供您的信息。在您未能按照与全网资信签订的服务协议或者与全网资信其他用户签订的协议等其他法律文书的约定履行自己应尽的义务时，全网资信有权根据单方判断，或者根据有关协议的约定提供您的信息，并做出评论。若您严重违反全网资信的相关规定，全网资信有权将您的信息编辑入黑名单，并将该黑名单对第三方提供。
      <p>
      </p>
（九）您充分知晓并同意全网资信可能同时为您及您的（交易）对手方提供服务，您同意对全网资信可能存在的该等行为予以明确豁免，并不得以此来主张全网资信在提供服务时存在法律上的瑕疵。
      <p>
      </p>
（十）您充分理解并知晓，从全网资信、全网资信工作人员或经由全网资信服务获得的建议或资讯，无论其为任何形式，均不构成全网资信对服务的保证。
      <p>
      </p>
（十一）除本协议另有规定外，在任何情况下，全网资信对本协议所承担的赔偿责任总额不超过向用户收取的当次服务费用总额。
      <p>
      </p>
（十二）您充分理解并知晓，除本协议另有规定或全网资信另行同意外，您对全网资信的授权及向全网资信发出的指令均不可撤销。
      <p>
      </p>
五、全网资信服务使用规范
      <p>
      </p>
（一）在使用全网资信服务过程中，您承诺遵守以下约定：
      <p>
      </p>
1、实施的所有行为均遵守国家法律、法规等规范性文件及全网资信的规定，不违背社会公共利益或公序良俗，不损害他人的合法权益。
      <p>
      </p>
2、在与其他用户交易过程中，遵守诚实信用原则。
      <p>
      </p>
3、不得传播或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权、推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论。
      <p>
      </p>
4、不得发布侵害他人名誉权、荣誉权、隐私权、商业秘密、商标权、著作权、专利权、其他知识产权等权益的言论和信息。
      <p>
      </p>
5、不得冒用他人名义使用全网资信服务。
      <p>
      </p>
6、不得进行任何可能侵害全网资信服务系統、信息等的行为。
      <p>
      </p>
7、不得违反依照法律法规或协议约定所应负的保密义务。
      <p>
      </p>
8、不得干扰本平台的正常运转，不得侵入本平台及国家计算机信息系统。
      <p>
      </p>
9、不得传播或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的或其他任何非法的信息。
      <p>
      </p>
10、不得利用本平台从事洗钱、窃取商业秘密、窃取信息、套现或传销等违法犯罪活动。
      <p>
      </p>
11、不得传播或发表损害国家社会公共利益或涉及国家安全的信息或言论。
      <p>
      </p>
12、不得进行任何不法交易行为，如贩卖枪支、毒品、禁药、盗版软件或其他违禁物。
      <p>
      </p>
13、不得提供赌博资讯或以任何方式引诱他人参与赌博。
      <p>
      </p>
14、不得利用全网资信服务系统进行可能对互联网或移动网的正常运转造成不利影响的行为。
      <p>
      </p>
15、不得侵犯全网资信的商业利益，包括但不限于发布非经全网资信许可的商业广告。
      <p>
      </p>
16、不得教唆他人进行本条所禁止的行为。
      <p>
      </p>
17、其他全网资信有正当理由认为不适当之行为。
      <p>
      </p>
（二）您须对自己在全网资信平台的言论和行为承担法律责任。若您未遵守以上规定的，全网资信有权做出单方判断并采取暂停或关闭您的帐号等措施。如您涉嫌违反有关法律法规或者本协议的规定，使全网资信遭受任何损失、或受到任何第三方的索赔、或受到任何行政管理部门的处罚等，您应当赔偿全网资信因此造成的所有损失，包括但不限于律师费。
      <p>
      </p>
（三）您在使用全网资信服务过程中应当遵守当地相关的法律法规，并尊重当地的道德风俗习惯。如果您的行为违反了当地法律法规或道德风俗习惯，您应当为此独立承担责任。
      <p>
      </p>
（四）您应避免因使用全网资信服务而使全网资信卷入政治和公共事件，否则全网资信有权单方暂停、中断或终止对您的服务。
      <p>
      </p>
（五）您通过全网资信获得或下载的任何信息，应当自负风险，因信息下载而导致个人电脑等载体的任何损坏或信息泄露，您应负完全责任。
      <p>
      </p>
（六）您在使用本服务过程中，提供本服务的相关网页上出现的关于操作的提示或全网资信发送给您的信息内容（例如短信或电话）是您使用本服务的相关规定，您使用本服务即表明您同意接受本服务的相关规定。您了解并同意全网资信可以单方随时修改服务的相关规定，服务规定应以您使用服务时的页面提示或发送给您的短信、电话、电子邮件或客户端通知等为准，相关规定变更后，如果您继续使用本服务，即视为您已接受变更后的规定。如果您不接受变更后的规定，应当立即停止使用本服务。
      <p>
      </p>
（七）全网资信可能会以短信、电话、电子邮件或客户端通知等方式就一些服务对您进行通知，或提示您进行下一步的操作，但全网资信不保证您能够收到或者及时收到该等通知，且不对此承担任何责任，您应当及时查看该等通知并进行相关操作。因您没有及时查看相关通知导致的任何风险或不利后果，全网资信不负任何责任。
      <p>
      </p>
六、免责声明
      <p>
      </p>
（一）您理解并同意，在使用全网资信服务的过程中，可能会遇到不可抗力等因素，导致服务中断。出现此类情况时，全网资信将努力及时进行修复，但是由此给您造成的损失，全网资信在法律允许的范围内免责。前述情况包括但不限于：
      <p>
      </p>
1、全网资信公告的系统停机维护期间。
      <p>
      </p>
2、因通讯设备出现故障不能进行数据传输的。
      <p>
      </p>
3、因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力的因素，造成全网资信系统障碍不能执行作业的。
      <p>
      </p>
4、由于电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。
      <p>
      </p>

5、用户操作不当。
      <p>
      </p>
（二）您理解并同意，在使用全网资信服务的过程中，可能会遇到各类信息或其他用户行为带来的风险，全网资信不对任何信息的真实性、准确性、适用性及合法性承担责任，也不对因侵权行为给您造成的损害负责。
      <p>
      </p>
（三）您理解并同意，全网资信的服务并非为某些特定目的而设计，包括但不限于核设施、军事用途、医疗用途、交通通讯。如果因为服务原因导致决策不当、操作失败而带来的人员伤亡、财产损失或环境破坏等，全网资信不承担法律责任。
      <p>
      </p>
（四）您理解并同意，全网资信提供的信息服务仅用作参考，在使用时应自行考量并自负风险。在法律允许的情况下，全网资信对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括但不限于业务损失、收益损失、利润损失、商誉损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任。
      <p>
      </p>
（五）全网资信依据本协议约定获得处理违法违规内容的权利，该权利不构成全网资信的义务或承诺，全网资信不能保证及时发现违法违规行为或进行相应处理。
      <p>
      </p>
七、知识产权声明
      <p>
      </p>
（一）全网资信在服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表）的知识产权归全网资信所有。
      <p>
      </p>
（二）除另有特别声明外，全网资信提供服务时所依托软件的著作权、专利权及其他知识产权均归全网资信所有。
      <p>
      </p>
（三）全网资信在服务中所使用的“全网资信”、“信用天下”及图形等商业标识，其著作权和商标权均归全网资信所有。
      <p>
      </p>
（四）上述及其他任何服务包含的内容的知识产权均受到法律保护，未经全网资信书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。
      <p>
      </p>
八、协议的终止
      <p>
      </p>
（一）您同意，全网资信有权单方决定以任何理由不经事先通知的中止或终止向您提供部分或全部全网资信服务，暂时冻结或永久冻结（注销）您的帐户权限，且无须为此向您或任何第三方承担任何责任。
      <p>
      </p>
（二）出现以下情况时，全网资信有权直接以注销帐户的方式终止本协议，并有权永久冻结（注销）您的帐户在全网资信的权限：
      <p>
      </p>
1、您提供的信息中的主要内容不真实、不准确、不及时或不完整。
      <p>
      </p>
2、本协议变更时，您明示或通知全网资信不愿接受新的协议。
      <p>
      </p>
3、其他全网资信认为应当终止服务的情况。
      <p>
      </p>
（三）终止协议时，如果您在全网资信的帐户（要求只能是本人持有的、经过全网资信校验的帐户，不能是其他人的帐户）中仍有余额，您有权依资金提现规则要求全网资信返还余额到您符合本协议要求的银行账户中。
      <p>
      </p>
（四）您同意，您与全网资信协议关系终止后，全网资信仍享有下列权利：
      <p>
      </p>
1、继续保存您的信息。
      <p>
      </p>
2、若您在使用全网资信服务期间存在违法违规行为或违反本协议规定的行为，全网资信仍可依据本协议向您主张权利。
      <p>
      </p>
（五）全网资信中止或终止向您提供全网资信服务后，对于您在服务中止或终止之前的交易行为依下列原则处理，您应独力处理并完全承担进行以下处理所产生的任何争议、损失或增加的费用，并应确保全网资信免于因此产生任何损失或承担任何费用：
      <p>
      </p>
1、您在服务中止或终止之前已经提交至全网资信平台的信息尚未交易的，全网资信有权在中止或终止服务的同时删除此项信息。
      <p>
      </p>
2、您在服务中止或终止之前已经与其他用户达成买卖合同，但合同尚未实际履行的，全网资信有权删除该买卖合同及其交易的相关信息。
      <p>
      </p>
3、您在服务中止或终止之前已经与其他用户达成买卖合同且已部分履行的，全网资信可以不删除该项交易，但全网资信有权在中止或终止服务的同时将相关情形通知您的交易方。
      <p>
      </p>
九、协议条款的法律适用及争议解决
      <p>
      </p>
（一）本协议不涉及您与全网资信其他用户之间，因网上交易服务而产生的关系或纠纷。但您在此同意将全面接受并履行与全网资信其他用户在全网资信上签订的任何电子文书，并承诺按照该文书享有或放弃相应的权利、承担或免除相应的义务。
      <p>
      </p>
（二）如本协议中的任何条款无论因何种原因完全或部分无效失效或不具有执行力，则应认为该条款可与本协议相分割，并可被尽可能接近各方意图的、能够保留本协议要求的目的的、有效的新条款所取代，而且，在此情况下，本协议的其他条款仍然完全有效并具有约束力。
      <p>
      </p>
（三）本协议签订地为中华人民共和国广东省深圳市福田区，本协议的成立、生效、履行、解释及争议解决，适用中华人民共和国法律法规（不包括港澳台地区的法律法规及冲突法）。若您和全网资信之间发生任何争议，首先应友好协商解决；协商不成的，您与全网资信均同意以本协议签订地人民法院为管辖法院。
      <p>
      </p>
（四）若产生争议的各方中牵涉全网资信，则各方均同意以本协议签订地人民法院为管辖法院。
      <p>
      </p>
（五）本协议所有条款的标题仅为阅读方便，本身并无实际含义，不能作为本协议含义解释的依据。
      <p>
      </p>
（六）如果您对本协议有任何意见，可发送电子邮件至1071968396@qq.com全网资信将在收到邮件后尽快回复。但是您对本协议所发送的任何意见并不代表您对本协议中任何条款存在任何形式和意义上的豁免。
      <p>
      </p>
    </section>
  </article>
</div>
</block>
