<extend name="Base/base" />
<block name="body">
<div class="container" style="margin-top:20px;">
  <article class="article">
    <header>
      <h1>隐私政策</h1>
      <!-- 文章属性列表 -->
    </header>
    <!-- 文章正文部分 -->
    <section class="content">
      <p>
      全网咨信非常重视您的隐私。为了科学、全面、客观、公正地向您提供全网咨信各项服务，我们需要收集、使用和提供您的信息。全网咨信将遵循“合法、正当、必要”原则，按照本隐私政策（以下简称“本政策”），且以您授权同意为前提收集、使用和提供您的信息。建议您完整地阅读本政策，以帮助您了解并维护自己的隐私权。为了使您更好的理解本政策的内容，本政策中与您的权益存在或可能存在重大关系的条款，全网咨信已采用加粗字体进行标识以提示您注意。若您同意《全网咨信服务协议》、使用或继续使用全网咨信的服务，即表明您同意全网咨信按照本政策收集、使用和提供您的信息。
      </p>
      <p>
      一、全网咨信收集信息的方式和信息范围
      </p>
      <p>
      为了更好地向您提供服务，您授权全网咨信收集您的信息，包括但不限于您的身份信息、交易信息、履约信息、联系信息、职业信息、政务信息、设备信息、资产信息等，具体如下：
      </p>
      <p>
      （一）您向我们提供的信息或您在使用我们服务过程中所形成的信息。例如您的姓名、身份证明、地址、银行卡号、电话号码和电子邮件地址、日志信息（您使用全网咨信的服务时系统可能会通过cookies、web beacon或其他方式自动收集技术信息）、位置信息（您开启设备定位功能并使用全网咨信或第三方基于位置提供的相关服务时，全网咨信收集的有关您的位置的信息）、生物特征及相关附加信息（如您所在的省份和城市、邮政编码）；此外，在您认为我们收集、使用、提供的信息存在错误、遗漏或不完整情况下，致电我们申请异议处理过程中形成的信息，或者认为我们及（或）我们合作的信息使用者所提供的服务存在影响您权益的情况时，来电咨询过程中所形成的信息等。
      </p>
      <p>
      （二）您在使用其他第三方合作机构所提供的产品或服务过程中提供或产生的信息。例如您在银行等机构信用卡申请与偿还信息等。
      </p>
      <p>
      （三）政府及公共服务机构在为您提供行政管理或公共服务过程中形成的非公开信息。例如公安机构在对您的入户审核进行管理过程中记录您的入户情况等信息。
      </p>
      <p>
      （四）政府及司法机关等依照法律法规公开披露的信息。例如最高人民法院依法公开披露的失信被执行人名单信息，各地交通管理局对外公示的一年内多次违反交通安全法律法规、受到罚款处罚但拒不缴纳罚款的信息等。
      </p>
      <p>
      二、全网咨信如何使用您的信息
      </p>
      <p>
      全网咨信可能将您的信息用作下列用途：
      </p>
      <p>
      （一）基于我们提供信息查询服务所需，将收集的信息用您的履约能力、履约意愿等风险评估。
      </p>
      <p>
      （二）基于为您提供更好的服务或个性化的服务，如用于身份验证、客户服务、安全防范、诈骗监测、存档和备份用途等。
      </p>
      <p>
      （三）帮助全网咨信设计新产品或服务，改善全网咨信现有产品或服务。
      </p>
      <p>
      （四）基于帮助我们完善优化上述服务，从而为您更好地享受相关服务的需要，将收集的信息用于公司内部及（或）与合作机构进行测试分析、建模研究、效果分析等目的予以使用。
      </p>
      <p>
      （五）让您参与有关全网咨信产品和服务的调查。
      </p>
      <p>
      （六）对产品使用情况进行统计。同时，全网咨信可能会与公众分享这些统计信息，以展示全网咨信服务的整体使用趋势。这些统计信息不包含您的任何身份识别信息。
      </p>
      <p>
      （七）基于法律法规及相关监管政策或要求，向国家有权机关披露我们所采集的信息。
      </p>
      <p>
      （八）基于其他合法合规目的进行使用。
      </p>
      <p>
      为了让您有更好的体验、改善我们的服务或您同意的其他用途，在符合相关法律法规的前提下，我们可能将通过某一项服务所收集的信息，以汇集信息或者个性化的方式，用于我们的其他服务。例如，在您使用我们的一项服务时所收集的信息，可能经过相关处理（包括但不限于整理、加工、保存的方式）在另一服务中用于向您提供特定内容，或向您展示与您相关的信息。
      </p>
      <p>
      三、全网咨信如何保护和保存信息
      </p>
      <p>
      为保障您的信息安全，全网咨信努力采取各种合理的物理、电子和管理方面的安全措施来保护您的信息，使您的信息不会被泄漏、毁损或者丢失，包括但不限于SSL、敏感信息加密保存、数据中心的访问控制。全网咨信对可能接触到您的信息的员工或外包人员也采取了严格管理，包括但不限于根据岗位的不同采取不同的权限控制、与他们签署保密协议、监控他们的操作情况。全网咨信会按现有技术提供相应的安全措施来保护您的信息，提供合理的安全保障，全网咨信将在任何时候尽力做到使您的信息不被泄漏、毁损或丢失。您的信息保存于中国（不含港澳台地区）的服务器上。但请您理解，由于技术的限制以及可能存在的各种恶意手段，在互联网行业，即便竭尽所能加强安全措施，也不可能始终保证信息百分之百的安全。您需要了解，您接入我们的服务所用的系统和通讯网络，有可能因我们可控范围外的因素而出现问题。
      </p>
      <p>
      四、您如何管理您的个人信息
      </p>
      <p>
      （一）管理您的个人信息
      </p>
      <p>
      1、除法律法规规定的例外情况，您有权访问、更正、补充或删除您的个人信息。
      </p>
      <p>
      您可以通过以下方式进行相关处理：（1）您可以通过登录帐号通过“我的”访问或编辑您的个人基本资料信息、支付信息以及更改您的密码等；（2）您可以通过登录帐号通过“查他人”、“企业报告”访问或清除您的搜索历史查询记录；（3）您可以通过登录帐号通过“异议申诉”提起信息更正或补充申请。
      </p>
      <p>
      如果您无法通过上述路径处理该等个人信息，您可以通过发送邮件到（1071968396@qqcom）与我们取得联系。我们将在20天内回复您的请求。
      </p>
      <p>
      2、响应您的上述请求
      </p>
      <p>
      为保障安全，您可能需要提供书面请求，或以其他方式证明您的身份。我们可能会先要求您验证自己的身份，然后再处理您的请求。我们将在20天内做出答复。对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情收取一定成本费用。对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者非常不切实际的请求，我们可能会予以拒绝。在以下情形中，按照法律法规要求，我们将无法响应您的请求：
      </p>
      <p>
      （1）与国家安全、国防安全有关的；
      </p>
      <p>
      （2）与公共安全、公共卫生、重大公共利益有关的；
      </p>
      <p>
      （3）与犯罪侦查、起诉、审判和执行判决等有关的；
      </p>
      <p>
      （4）有充分证据表明个人信息主体存在主观恶意或滥用权利的；
      </p>
      <p>
      （5）响应您的请求将导致您或其他个人、组织的合法权益受到严重损害的；
      </p>
      <p>
      （6）涉及商业秘密的。
      </p>
      <p>
      （二）管理您的敏感个人信息
      </p>
      <p>
      某些个人信息因其特殊性可能被认为是敏感个人信息，例如您的种族、宗教、个人健康和医疗信息等。相比其他个人信息，敏感个人信息受到更加严格的保护。您在使用我们的服务时所提供、上传或发布的内容和信息（例如有关您的照片等信息），可能会泄露您的敏感个人信息。您需要谨慎地考虑，是否在使用我们的服务时披露相关敏感个人信息。在一些情况下，您可通过我们某些服务的隐私设定来控制有权浏览您共享信息的用户范围。如要求从我们的服务中删除您的相关信息，您可以通过发送邮件到1071968396@qq.com与我们取得联系。
      </p>
      <p>
      五、全网咨信如何提供您的信息
      </p>
      <p>
      （一）全网咨信不会向洛阳少扬实业有限公司以外的公司、组织和个人提供您的个人信息，但以下情况除外：
      </p>
      <p>
      1、在获取明确同意的情况下提供：获得您的明确同意后，我们会向其他方提供您的个人信息。
      </p>
      <p>
      2、在法定情形下的提供：我们可能会根据法律法规规定、诉讼争议解决需要，或按行政、司法机关依法提出的要求，对外提供您的个人信息。
      </p>
      <p>
      3、向关联公司间提供：为便于我们基于关联帐号共同向您提供服务，推荐您可能感兴趣的信息或保护关联公司或其他用户或公众的人身财产安全免遭侵害，您的个人信息可能会与我们的关联公司共享。我们只会共享必要的个人信息，如果我们共享您的个人敏感信息或关联公司改变个人信息的使用及处理目的，将再次征求您的授权同意。
      </p>
      <p>
      4、向授权合作伙伴提供：仅为实现本隐私政策中声明的目的，我们的某些服务将由我们和授权合作伙伴共同提供。我们可能会与合作伙伴共享您的某些个人信息，以提供更好的客户服务和用户体验。我们仅会出于合法、正当、必要、特定、明确的目的提供您的个人信息，并且只会提供服务所必要的个人信息。我们的合作伙伴无权将共享的个人信息用于与产品或服务无关的其他用途。目前，我们的授权合作伙伴包括以下类型：
      </p>
      <p>
      （1）信用卡申请类的授权合作伙伴。除非得到您的许可，否则我们不会将您的个人身份信息（指可以识别您身份的信息，例如姓名或电子邮箱，通过这些信息可以联系到您或识别您的身份）向对方提供。
      </p>
      <p>
      （2）供应商、服务提供商和其他合作伙伴。我们将信息发送给支持我们业务的供应商、服务提供商和其他合作伙伴，这些支持包括提供技术基础设施服务、运营广宣类服务。
      </p>
      <p>
      对我们对外提供个人信息的公司、组织和个人，我们会与其签署严格的合作协议，要求他们按照我们的说明、本隐私政策以及其他任何相关的保密和安全措施来处理个人信息。
      </p>
      <p>
      （二）提供个人信息时事先征得授权同意的例外
      </p>
      <p>
      以下情形中，提供您的个人信息无需事先征得您的授权同意：
      </p>
      <p>
      1、与国家安全、国防安全有关的；
      </p>
      <p>
      2、与公共安全、公共卫生、重大公共利益有关的；
      </p>
      <p>
      3、与犯罪侦查、起诉、审判和判决执行等有关的；
      </p>
      <p>
      4、出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；
      </p>
      <p>
      5、您自行向社会公众公开的个人信息；
      </p>
      <p>
      6、从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。
      </p>
      <p>
      根据法律规定，提供经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，不属于个人信息的对外提供行为，对此类数据的保存及处理将无需另行向您通知并征得您的同意。
      </p>
      <p>
      六、隐私政策适用的例外
      </p>
      <p>
      全网咨信的服务可能包括或链接至第三方提供的金融、社交或其他服务（包括网站）。请您注意，该等交易相对方、您访问的第三方网站经营者、您使用的第三方服务提供者可能有自己的隐私保护政策，而不受本政策的约束，您与之达成交易或使用其服务应接受对方的隐私保护政策，您应仔细阅读其条款。本政策仅适用于全网咨信所收集的信息，并不适用于任何第三方提供的服务或第三方的信息使用规则。全网咨信对任何第三方使用由您提供的信息不承担任何责任。
      </p>
      <p>
      七、未成年人隐私权的特别约定
      </p>
      <p>
      全网咨信重视未成年人的信息保护，如您为未成年人，建议您请您的父母或监护人阅读本政策，并建议未成年人在提交信息之前寻求父母或监护人的同意和指导。
      </p>
      <p>
      八、本政策的变更
      </p>
      <p>
      您同意全网咨信可能随时修改本政策的条款，由于全网咨信的用户群过于庞大和分散，因此本政策如发生变更，全网咨信将在官网以公告的方式提前予以公布而不另行单独通知您；若您在本政策变更生效后继续使用全网咨信提供的服务，即代表您已充分阅读、理解并接受修改后的政策且受此约束；若您不同意修改后的政策，您应立即停止使用全网咨信提供的服务。
      </p>
      <p>
      如您还有其他问题和建议，请联系全网咨信。全网咨信会始终致力于充分保护用户信息，并为您提供更优质的体验和服务。
      </p>
    </section>
  </article>
</div>
</block>
