<extend name="Base/base" />
<block name="body">
<div class="container">
  <div class="row" style="margin-top:20px;">
    <div class="col-xs-4">
      <a class="btn btn-lg btn-block" type="button">5元</a>
    </div>
    <div class="col-xs-4">
      <a class="btn btn-lg btn-block" type="button">10元</a>
    </div>
    <div class="col-xs-4">
      <a class="btn btn-lg btn-block" type="button">20元</a>
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-xs-4">
      <a class="btn btn-lg btn-block" type="button">50元</a>
    </div>
    <div class="col-xs-4">
      <a class="btn btn-lg btn-block" type="button">100元</a>
    </div>
  </div>
  <div class="row" style="margin-top:20px;">
    <div class="col-xs-12">
    <a class="btn btn-lg btn-block btn-success" type="button">微信支付</a>
    </div>
  </div>
  <p class="text-gray" style="margin-top:10px;">注：每1元兑换1次查询次数。</p>
</div>
</block>
