<extend name="Base/common" />
<block name="body">
<style>  
.pages li {  
  display: inline-block;  
  padding: 5px 10px;  
  margin: 0 1px;  
  border: 1px solid #f0f0f0;  
  -webkit-border-radius: 3px;  
  -moz-border-radius: 3px;  
  border-radius: 3px;  
}  
.pages .sr-only {
  display:none;
}
.pages a,  
.pages li {  
  display: inline-block;  
  list-style: none;  
  text-decoration: none;  
  color: #58A0D3;  
}  

.pages a.first,  
.pages a.prev,  
.pages a.next,  
.pages a.end {  
  margin: 0;  
}  

.pages a:hover {  
  border-color: #50A8E6;  
}  

.pages li.active {  
  background: #50A8E6;  
  color: #FFF;  
  font-weight: 700;  
  border-color: #50A8E6;  
}  
</style>  
<div class="page-container">
  <form action="#" method="post" class="form form-horizontal" style="overflow:hidden;">
    <div class="row" style="overflow:hidden;">
      <div class="col-xs-4">
        <label class="form-label col-xs-4">商户订单号:</label>
        <div class="col-xs-8 formControls">
          <input type="text" class="input-text" value="{$MerBillNo}" placeholder="" id="MerBillNo" name="MerBillNo">
        </div>
      </div>
      <div class="col-xs-4">
        <label class="form-label col-xs-4">交易流水号:</label>
        <div class="col-xs-8 formControls">
          <input type="text" class="formControls input-text" value="{$MainMerbillNo}" placeholder="" id="MainMerbillNo" name="MainMerbillNo">
        </div>
      </div>
      <div class="col-xs-4">
        <label class="form-label col-xs-4">订单状态:</label>
        <div class="col-xs-8 formControls">
          <span class="select-box">
            <select name="status" class="select">
              <option value="-1" <if condition="$status eq -1">selected</if>>全部</option>
              <option value="1" <if condition="$status eq 1">selected</if>>已支付</option>
              <option value="0" <if condition="$status eq 0">selected</if>>待支付</option>
            </select>
          </span>
        </div>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-xs-4">
        <label class="form-label col-xs-4">日期范围：</label>
        <div class="col-xs-8 formControls">
          <input type="text" onfocus="WdatePicker()" id="logmin" name="start_time" class="input-text Wdate" style="width:100px;" value="{$start_time}">
          -
          <input type="text" onfocus="WdatePicker()" id="logmax" name="end_time" class="input-text Wdate" style="width:100px;" value="{$end_time}">
        </div>
      </div>
      <div class="col-xs-8 text-l">
        <button name="" id="" class="btn btn-success" type="submit">查询</button>
        <a href="/user/order/order_list" class="btn btn-success" type="submit">重置</a>
      </div>
    </div>
  </form>
  <table class="table table-border table-bordered table-bg table-sort mt-20">
    <thead>
      <tr>
        <th>订单号</th>
        <th>交易流水号</th>
        <th>商品名</th>
        <th>支付方式</th>
        <th>金额</th>
        <th>币种</th>
        <th>费率</th>
        <th>手续费</th>
        <th>订单创建时间</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <foreach name="order_list" item="item">
      <tr>
        <td>{$item['MerBillNo']}</td>
        <td>{$item['MainMerbillNo']}</td>
        <td>{$item['GoodsName']}</td>
        <td>借记卡</td>
        <td>{$item['Amount']}</td>
        <td>人民币</td>
        <td>{$item['Rate']}‰</td>
        <td>{$item['Cost']}</td>
        <td>{$item['create_time']|date="Y-m-d H:i:s", ###}</td>
        <if condition="$item['status'] eq 0">
        <td>未付款</td>
        <elseif condition="$item['status'] eq 1"/>
        <td>已付款</td>
        </if>
      </tr>
      </foreach>
    </tbody>
  </table>
  <div class="pages mt-20">{$pager}</div>
</div>
</block>
