<extend name="Base/common" />
<block name="body">
<div class="page-container">
  <form action="#" method="post">
    <div class="text-c"> 日期范围：
      <input type="text" onfocus="WdatePicker()" id="logmin" name="start_time" class="input-text Wdate" style="width:120px;" value="{$start_time}">
      -
      <input type="text" onfocus="WdatePicker()" id="logmax" name="end_time" class="input-text Wdate" style="width:120px;" value="{$end_time}">
      <button name="" id="" class="btn btn-success" type="submit">查询</button>
    </div>
  </form>
  <table class="table table-border table-bordered table-bg table-sort">
    <thead>
      <tr>
        <th>订单创建时间</th>
        <th>提现金额</th>
        <th>提现订单号</th>
        <th>交易流水号</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <foreach name="list" item="item">
      <tr>
        <td>{$item['create_time']|date="Y-m-d H:i:s", ###}</td>
        <td>{$item['amount']}</td>
        <td>{$item['merBillNo']}</td>
        <td>{$item['ipsBillNo']}</td>
        <td>
          <if condition="$item['tradeState'] eq 8">
          处理中
          </if>
          <if condition="$item['tradeState'] eq 10">
          完成
          </if>
        </td>
      </tr>
      </foreach>
    </tbody>
  </table>
  <div>
    <div id="pager"></div>
  </div>
</div>
<script>
$('.table-sort').dataTable({
  "bStateSave": true,//状态保存
  'ordering':false,
});
</script>
</block>
