<extend name="Base/common" />
<block name="body">
<div class="page-container">
  <table class="table table-border table-bordered table-bg">
    <thead>
      <tr><th>ID</th><th>mch_id</th><th>secret_key</th><th>状态</th><th>操作</th></tr>
    </thead>
    <tbody>
    <foreach name="list" item="item">
    <tr>
      <td>{$item['id']}</td>
      <td>{$item['mch_id']}</td>
      <td>{$item['secret_key']}</td>
      <td>{$item['status']}</td>
      <td>
        <a href="{:U('/admin/channel/account_edit', array('id' => $item['id']))}">修改</a> 
        <a href="{:U('/admin/channel/account_del', array('id' => $item['id']))}">删除</a>
      </td>
    </tr>
    </foreach>
    </tbody>
  </table>
</div>
</block>
