<extend name="Base/base" />
<block name="body">
<div class="row with-padding bg-primary" style="font-size:20px; padding:10px 0px;">
  <div class="col-xs-3 text-center">
    <a href="/agent/agent_list" style="color:#ffffff;"><i class="icon-chevron-left"></i></a> 
  </div>
  <div class="col-xs-6 text-center">
    <strong>代理中心</strong>
  </div>
  <div class="col-xs-3 text-center">
    <a href="/agent/index" style="color:#ffffff;"><i class="icon-user"></i></a> 
  </div>
</div>
<div class="container" style="margin-top:20px;">
  <blockquote>分润设置</blockquote>
  <form class="form-horizontal" method="post">
    <input type="hidden" name="id" value="{$agent_info['id']}"/>
    <foreach name="product_list" item="item">
    <div class="form-group">
      <div class="col-xs-12">
        <label for="exampleInputAccount1">{$item['name']} 分润(元/单)</label>
        <input type="text" class="form-control input-lg" id="p{$item['id']}" name="p{$item['id']}" placeholder="" value="{$item['fr']}">
      </div>
    </div>
    </foreach>
    <div class="form-group">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-block btn-warning btn-lg">确认</button>
      </div>
    </div>
  </form>
</div>
</block>
