<extend name="Base/base" />
<block name="body">
<div class="row with-padding bg-primary" style="font-size:20px; padding:10px 0px;">
  <div class="col-xs-3 text-center">
    <a href="/agent/index" style="color:#ffffff;"><i class="icon-chevron-left"></i></a> 
  </div>
  <div class="col-xs-6 text-center">
    <strong>代理中心</strong>
  </div>
  <div class="col-xs-3 text-center">
    <a href="/agent/index" style="color:#ffffff;"><i class="icon-user"></i></a> 
  </div>
</div>
<div class="container" style="margin-top:20px;">
  <blockquote>订单列表</blockquote>  
  <table class="table table-border table-bordered table-bg">
    <tr>
      <th>订单号</th>
      <th>金额</th>
      <th>时间</th>
    </tr>
    <foreach name="order_list" item="item">
    <tr>
      <td>{$item.trade_no}</td>
      <td>{$item['fee']/100}</td>
      <td>{$item.updated_time|date="y-m-d H:i:s",###}</td>
    </tr>
    </foreach>
  </table>
  <div class="pages mt-20 text-center">{$pager}</div>
</div>
</block>
