<extend name="Base/base" />
<block name="body">
<div class="with-padding bg-primary" style="text-align:center; font-size:20px; padding:10px 20px;">个人中心</div>
<div class="container" style="margin-top:20px;">
  <blockquote>订单列表</blockquote>  
  <table>
    <th>
      <td>订单号</td>
      <td>金额</td>
      <td>时间</td>
    </th>
    <foreach name="order_list" item="item">
    <tr>
      <td>{$item.trade_no}</td>
      <td>{$item.fee/100}</td>
      <td>{$item.updated_time|date="y-m-d H:i:s",###}</td>
    </tr>
    </foreach>
  </table>
</div>
</block>
