<extend name="Base/common" />
<block name="body">
<div class="page-container">
  <input type="hidden" name="page" id="page" value="{$page}"/>
  <table class="table table-border table-bordered table-bg">
    <thead>
      <tr><th>ID</th><th>手机</th><th>用户名</th><th>注册时间</th><th>操作</th></tr>
    </thead>
    <tbody>
    <foreach name="member_list" item="item">
    <tr>
      <td>{$item['id']}</td>
      <td>{$item['mobile']}</td>
      <td>{$item['nickname']}</td>
      <td>{$item['created_time']|date="m-d H:i", ###}</td>
      <td>
        <a href="{:U('/admin/user/user_info', array('id' => $item['id']))}">详情</a>
      </td>
    </tr>
    </foreach>
    </tbody>
  </table>
  <div id="pager" style="margin-top:20px;"></div>
</div>
<script>
$(function(){
  $("[data-toggle='popover']").popover();
  $("[data-toggle='tooltip']").tooltip();
  laypage({
    cont: 'pager',
    skip: true,
    pages: {$page_count},
    curr: {$page},
    jump: function(e){
      var page = $('#page').val();
      if (page != e.curr) {
        window.location.href = "/admin/user/user_list?page=" + e.curr;
      }
    }
  });
});
</script>
</block>
