<extend name="Base/base" />
<block name="body">
<div>
  <div class="list with-divider">
    <a class="item" href="{:U('/wap/article/info', ['id' => 1])}">
      《T1策略协议》
    </a>
    <div class="divider"></div>
    <a class="item" href="{:U('/wap/article/info', ['id' => 2])}">
      《TN策略协议》
    </a>
    <div class="divider"></div>
    <a class="item" href="{:U('/wap/article/info', ['id' => 3])}">
      《策略交易费用及自费标准》
    </a>
    <div class="divider"></div>
    <a class="item" href="{:U('/wap/article/info', ['id' => 4])}">
      《风险揭示书》
    </a>
    <div class="divider"></div>
  </div>
</div>
</block>
