<extend name="Base/common" />
<block name="body">
<div class="content">
  <div class="content-padded">
    <div>
    1. 众筹不是商品交易。支持者根据自己的判断选择、支持众筹项目，与发起人共同实现梦想并获得发起人承诺的回报，众筹存在一定风险。
    </div>
    <div>
    2. 众筹平台只提供平台网络空间、技术服务和支持等中介服务。京东作为居间方，并不是发起人或支持者中的任何一方，众筹仅存在于发起人和支持者之间，使用京东众筹平台产生的法律后果由发起人与支持者自行承担。
    </div>
    <div>
    3. 众筹项目的回报发放、发票开具及其他后续服务事项均由发起人负责。如果发生发起人无法发放回报、延迟发放回报、不提供回报后续服务等情形，您需要直接和发起人协商解决，京东对此不承担任何责任。
    </div>
    <div>
    3. 众筹项目的回报发放、发票开具及其他后续服务事项均由发起人负责。如果发生发起人无法发放回报、延迟发放回报、不提供回报后续服务等情形，您需要直接和发起人协商解决，京东对此不承担任何责任。
    </div>
  </div>
  <div class="content-block">
    <p><a href="#" class="button button-danger button-big" id="buy-btn" data-product_id="{$product_info['id']}">我要支持</a></p>
  </div>
</div>
<script>
$(function(){
  $('#buy-btn').on('click', function(){
    var product_id = $(this).data('product_id');
    $.ajax({
      url: '/product/ajax_create_order',
      type: 'post',
      dataType: 'json',
      data: {'product_id': product_id, 'pay_type': 2},
      success: function(res) {
        var html = '<img src="'+res.code_img_url+'">';
        $('#pay-img').html(html);
        $.popup('.popup-pay');
      }
    });
  });
})
</script>
<div class="popup popup-pay">
  <div class="content-block">
    <p>请扫描支付二维码</p>
    <p id="pay-img"></p>
    <p><a href="#" class="button button-danger close-popup">关闭</a></p>
  </div>
</div>
</block>
