<extend name="Base/base" />
<block name="body">
<div style="padding:10px;">
  <div class="row">
    <div class="cell-4" style="flex-direction:column;">
      <div class="large text-center">亚普股份</div>
      <div class="gray text-center">12323</div>
    </div>
    <div class="cell-8" style="flex-direction:column;">
      <div class="large">
        2222
      </div>
      <div>
        <span>1.11</span>
        <span>9.33%</span>
      </div>
    </div>
  </div>
</div>
<hr/>
<div style="padding:10px;">
  <div class="row small">
    <div class="cell-3">今开:2222</div>
    <div class="cell-3">最高</div>
    <div class="cell-3">成交量</div>
    <div class="cell-3">涨停价</div>
    <div class="cell-3">昨收</div>
    <div class="cell-3">最低</div>
    <div class="cell-3">成交额</div>
    <div class="cell-3">跌停价</div>
  </div>
</div>
</block>
