<extend name="Base/base" />
<block name="body">
<style type="text/css">

.cell_main_price{
  display:flex; flex-direction:column; justify-content:center; text-align:center; padding:5px;
  background:#ffffff;
  margin:5px;
}
        .nav_icon{display:flex; flex-direction:column; justify-content:center; text-align:center; width:100%;}
        .nav_icon_c{display: flex; justify-content:center; margin:0 auto; color:#ffffff;}
        .avatar-lg{
          width:2.3rem;
          height:2.3rem;
        }
</style>
<div class="section" style="margin-top:10px;">
  <div class="row">
    <div class="cell" style="text-align:center; justify-content:center;">
      <a href="/wap/stock/chose_1">
        <div class="nav_icon">
          <div class="circle avatar avatar-lg nav_icon_c" style="background: linear-gradient(#FFE3DF, #FA4E3A); border:2px solid #FFBEB4;">
            <i class="icon icon-server"></i>
          </div>
          <div style="margin-top:5px;"><p>掌经热股</p></div>
        </div>
      </a>
    </div>
    <div class="cell" style="text-align:center; justify-content:center;">
      <a href="/wap/stock/chose_2">
        <div class="nav_icon">
          <div class="circle avatar avatar-lg nav_icon_c" style="background: linear-gradient(#FFF1D4, #FFAC00); border:2px solid #FFE2A8;">
            <i class="icon icon-window"></i>
          </div>
          <div style="margin-top:5px;"><p>事件驱动</p></div>
        </div>
      </a>
    </div>
    <div class="cell" style="text-align:center; justify-content:center;">
      <a href="/wap/stock/chose_3">
        <div class="nav_icon">
          <div class="circle avatar avatar-lg nav_icon_c" style="background: linear-gradient(#DEF6FF, #00BDD2); border:2px solid #B1EAFF;">
            <i class="icon icon-newspaper-o"></i>
          </div>
          <div style="margin-top:5px;"><p>条件选股</p></div>
        </div>
      </a>
    </div>
    <div class="cell" style="text-align:center; justify-content:center;">
      <a href="/wap/stock/chose_4">
        <div class="nav_icon">
          <div class="circle avatar avatar-lg nav_icon_c" style="background: linear-gradient(#F7ECFF, #8F57BA); border:2px solid #E5BDFF;">
            <i class="icon icon-calendar"></i>
          </div>
          <div style="margin-top:5px;"><p>策略热榜</p></div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="cell" style="text-align:center; justify-content:center;">
      <a href="/wap/stock/chose_5">
        <div class="nav_icon">
          <div class="circle avatar avatar-lg nav_icon_c" style="background: linear-gradient(#B1F0C2, #009A34); color:#ffffff; border:2px solid #B1F0C2;">
            <i class="icon icon-group"></i>
          </div>
          <div style="margin-top:5px;"><p>涨停预测</p></div>
        </div>
      </a>
    </div>
    <div class="cell" style="text-align:center; justify-content:center;">
      <a href="/wap/stock/chose_6">
        <div class="nav_icon">
          <div class="circle avatar avatar-lg nav_icon_c" style="background: linear-gradient(#F9EBE0, #C6763C); color:#ffffff; border:2px solid #F2D6BF;">
            <i class="icon icon-certificate"></i>
          </div>
          <div style="margin-top:5px;"><p>量化选股</p></div>
        </div>
      </a>
    </div>
    <div class="cell" style="text-align:center; justify-content:center;">
      <a href="/wap/stock/chose_7">
        <div class="nav_icon">
          <div class="circle avatar avatar-lg nav_icon_c" style="background: linear-gradient(#DEF6FF, #3672FF); color:#ffffff; border:2px solid #B1EAFF;">
            <i class="icon icon-trophy"></i>
          </div>
          <div style="margin-top:5px;"><p>价值挖掘</p></div>
        </div>
      </a>
    </div>
    <div class="cell" style="text-align:center; justify-content:center;">
      <a href="/wap/stock/chose_8">
        <div class="nav_icon">
          <div class="circle avatar avatar-lg nav_icon_c" style="background: linear-gradient(#B1F0C2, #009A34); color:#ffffff; border:2px solid #B1F0C2;">
            <i class="icon icon-flag-alt"></i>
          </div>
          <div style="margin-top:5px;"><p>长线牛股</p></div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="section" style="margin-top:10px; padding:10px;">
  <div class="lead">今日精选</div>
  <hr/>
  <div style="color:#e53d1c; background:#ffe5e0; padding:10px 30px; font-size:0.5rem;">
    <span>提示！</span>推荐股票为第三方机构模型结果，仅供参考，不作为入市依据，据此入市，风险自担
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="cell-3">
      <div class="avatar circle red outline avatar-xl">
        <div style="font-size:0.8rem;">62.19%</div>
        <div style="font-size:0.5rem;">胜率</div>
      </div>
    </div>
    <div class="cell-9" style="flex-direction:column;">
      <div style="font-size:0.9rem;">掌经金股</div>
      <div class="small text-gray">1天持股平均涨幅 <span style="font-size:0.8rem;">1.10%</span></div>
      <div class="small text-gray">1.00万人订阅|掌经策略 2018-08-02</div>
    </div>
  </div>
  <hr/>
  <div class="row small" style="text-align:center;">
    <foreach name="list" item="item">
    <div class="cell-4" style="flex-direction:column;">
      <a href="{:U('/wap/stock/detail', ['code' => $item['code']])}">
      <div>{$item['name']}</div>
      <if condition="$item['netChangeRatio'] gt 0">
      <div class="text-red">{$item['netChangeRatio']|round=2}%</div>
      <else/>
      <div class="text-green">{$item['netChangeRatio']|round=2}%</div>
      </if>
      </a>
    </div>
    </foreach>
  </div>
</div>
</block>
