<extend name="Base/base" />
<block name="body">
<form action="/wap/stock/search" method="post" class="box">
  <div class="control flex">
    <input name="query" type="text" class="input" placeholder="输入搜索股票">
    <button type="submit" class="btn primary" style="min-width:auto;"><i class="icon-location-arrow"></i> 搜索 </button>
  </div>
</form>
<div class="section" style="padding:10px;">
  <div class="lead">历史记录<a href="" class="pull-right btn danger btn-sm">清空</a></div>
  <hr/>
  <div class="row">
    <div class="cell-4" style="flex-direction:column; text-align:center; padding:5px;">
      <a href="{:U('/wap/policy/info', ['code' => '603013'])}" style="border:1px solid #cccccc; border-radius: 5px;">
        <div>xxxxxx</div>
        <div>xx</div>
        <div>xx</div>
        <div>xx</div>
      </a>
    </div>
    <div class="cell-4" style="flex-direction:column; text-align:center; padding:5px;">
      <div style="border:1px solid #cccccc; border-radius: 5px;">
        <div>xxxxxx</div>
        <div>xx</div>
        <div>xx</div>
        <div>xx</div>
      </div>
    </div>
    <div class="cell-4" style="flex-direction:column; text-align:center; padding:5px;">
      <div style="border:1px solid #cccccc; border-radius: 5px;">
        <div>xxxxxx</div>
        <div>xx</div>
        <div>xx</div>
        <div>xx</div>
      </div>
    </div>
  </div>
</div>
<div class="section" style="padding:10px;">
  <div class="lead">热门股票<a href="" class="pull-right text-primary">换一批</a></div>
  <hr/>
  <div class="row">
    <div class="cell-4" style="flex-direction:column; text-align:center; padding:5px;">
      <div style="border:1px solid #cccccc; border-radius: 5px;">
        <div>xxxxxx</div>
        <div>xx</div>
        <div>xx</div>
        <div>xx</div>
      </div>
    </div>
    <div class="cell-4" style="flex-direction:column; text-align:center; padding:5px;">
      <div style="border:1px solid #cccccc; border-radius: 5px;">
        <div>xxxxxx</div>
        <div>xx</div>
        <div>xx</div>
        <div>xx</div>
      </div>
    </div>
    <div class="cell-4" style="flex-direction:column; text-align:center; padding:5px;">
      <div style="border:1px solid #cccccc; border-radius: 5px;">
        <div>xxxxxx</div>
        <div>xx</div>
        <div>xx</div>
        <div>xx</div>
      </div>
    </div>
  </div>
</div>
</block>
