<extend name="Base/base" />
<block name="body">
<form action="/wap/stock/search" method="post" class="box">
  <div class="control flex">
    <input name="query" type="text" class="input" placeholder="输入搜索股票" value="{$query}"/>
    <button type="submit" class="btn primary" style="min-width:auto;"><i class="icon-location-arrow"></i> 搜索 </button>
  </div>
</form>
<div class="section" style="padding:10px;">
  <div class="row">
  <foreach name="hot_list" item="item">
  <div class="cell-4">
    <a href="{:U('/wap/stock/detail', ['code' => ($item['exchange'].$item['stockCode'])])}" style="width:100%;">
    <div style="flex-direction:column; border:1px solid #cccccc; border-radius:5px; width:100%; text-align:center; padding:10px;">
      <div>{$item['stockName']}</div> 
      <div class="text-gray small">{$item['stockCode']}</div> 
      <if condition="$item['netChange'] gt 0">
      <div class="text-red">{$item['close']|round=2}</div> 
      <div class="text-red">
        <span>{$item['netChange']|round=2}</span>
        <span>{$item['netChangeRatio']|round=2}%</span>
      </div> 
      <else/>
      <div class="text-green">{$item['close']|round=2}</div> 
      <div class="text-green">
        <span>{$item['netChange']|round=2}</span>
        <span>{$item['netChangeRatio']|round=2}%</span>
      </div> 
      </if>
    </div>
    </a>
  </div>
  </foreach>
  </div>
</div>
<div class="section" style="padding:10px; margin-bottom:2rem;">
  <table class="table">
    <foreach name="search_res" item="item">
    <tr>
      <td>
        <a href="{:U('/wap/stock/detail', ['code' => ($item['exchange'].$item['stockCode'])])}">
        <div>{$item['stockName']}</div>
        <div>{$item['stockCode']}</div>
        </a>
      </td>
      <td>{$item['close']|round=2}</td>
      <if condition="$item['netChange'] gt 0">
      <td class="text-red">{$item['netChange']|round=2}</td>
      <else/>
      <td class="text-green">{$item['netChange']|round=2}</td>
      </if>
      <if condition="$item['netChange'] gt 0">
      <td class="text-red">{$item['netChangeRatio']|round=2}%</td>
      <else/>
      <td class="text-green">{$item['netChangeRatio']|round=2}%</td>
      </if>
      <td><a href="javascript:;" onclick="collect_add({$item['exchange']}{$item['stockCode']})"><i class="icon icon-expand-alt text-red"></i></a></td>
    </tr> 
    </foreach>
  </table>
</div>
<script>
function collect_add(code)
{
  $.ajax({
    url: '/wap/user/collect_add',
    type: 'post',
    dataType: 'json',
    data: {'code': code},
    success: function(res) {
      alert('添加成功');
    }
  });
}
</script>
</block>
