<extend name="Base/base" />
<block name="body">
<div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-xs-12">
        <input type="text" class="form-control input-lg" id="exampleInputAccount1" placeholder="输入手机号">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-8">
        <input type="text" class="form-control input-lg" id="exampleInputAccount1" placeholder="输入短信验证码">
      </div>
      <div class="col-xs-4">
        <a href="/index/product" class="btn btn-block btn-primary btn-lg">获取验证码</a>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-block btn-primary btn-lg">提交</button>
      </div>
    </div>
  </form>
</div>
</block>
