<extend name="Base/base" />
<block name="body">
<div class="container">
  <div style="margin-top:20px;">
    <p style="font-size:16px;">当前剩余查询次数<span class="text-red" style="font-size:24px;"> 0 </span>次 <a href="/recharge/index">充值 ></a></p>
  <div class="row">
    <div class="col-xs-6">
      <a class="btn btn-lg btn-block btn-primary" href="{:U('/search/report')}" type="button">
        <div>
          <i class="icon icon-file-archive icon-2x"></i>
        </div>
        <div style="margin-top:10px;">
          蜜罐查询
        </div>
      </a>
    </div>
    <div class="col-xs-6">
      <a class="btn btn-lg btn-block btn-info" href="{:U('/data_platform/index')}" type="button">
        <div>
          <i class="icon icon-server icon-2x"></i>
        </div>
        <div style="margin-top:10px;">
          蜜蜂查询
        </div>
      </a>
    </div>
  </div>
  <p class="text-warning" style="margin-top:10px;">注：每次查询消费一次查询次数。</p>
  </div>
</div>
</block>
