<extend name="Base/base" />
<block name="body">
<div class="row with-padding bg-primary" style="font-size:20px; padding:10px 0px;">
  <div class="col-xs-3 text-center">
    <a href="/index/index" style="color:#ffffff;"><i class="icon-chevron-left"></i></a> 
  </div>
  <div class="col-xs-6 text-center">
    <strong>报告查询</strong>
  </div>
  <div class="col-xs-3 text-center">
    <a href="/user/home" style="color:#ffffff;"><i class="icon-user"></i></a> 
  </div>
</div>
<div><img src="/Public/WX20190418-214546.png" style="width:100%;"></div>
<div class="container" style="margin-top:20px;">
  <div class="panel panel-primary">
    <div class="panel-heading">信用查询</div>
    <div class="panel-body">
      <div class="clearfix">
        <div class="pull-left">
          <p style="font-size:16px;">专业版信用报告</p>
          <p class="text-gray">网贷查询 社交查询 风险监测</p>
          <p class="text-danger">29.80元</p>
        </div>
        <div class="pull-right">
          <div><a href="/search/report" class="btn btn-small btn-primary">报告样例</a></div> 
          <div><a href="/search/report" class="btn btn-small btn-warning" style="margin-top:10px;">立即查询</a></div> 
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">高级查询</div>
    <div class="panel-body">
      <div class="clearfix">
        <div class="pull-left">
          <p style="font-size:16px;">深度信息查询</p>
          <p class="text-gray">网购查询 学历查询 公积金查询</p>
          <p class="text-danger">29.80元</p>
        </div>
        <div class="pull-right">
          <div><a href="/data_platform/index" class="btn btn-small btn-info">报告样例</a></div> 
          <div><a href="/data_platform/index" class="btn btn-small btn-warning" style="margin-top:10px;">立即查询</a></div> 
        </div>
      </div>
    </div>
  </div>
</div>
</block>
