<extend name="Base/base" />
<block name="body">
<div class="row with-padding bg-primary" style="font-size:20px; padding:10px 0px;">
  <div class="col-xs-3 text-center">
    <a href="/index/index" style="color:#ffffff;"><i class="icon-chevron-left"></i></a> 
  </div>
  <div class="col-xs-6 text-center">
    <strong>报告查询</strong>
  </div>
  <div class="col-xs-3 text-center">
    <a href="/user/home" style="color:#ffffff;"><i class="icon-user"></i></a> 
  </div>
</div>
<div><img src="/Public/WechatIMG458.jpeg" style="width:100%;"></div>
<div class="container" style="margin-top:20px;">
  <foreach name="product_list" item="item">
  <if condition="$item['type'] == 1">
  <div class="panel panel-primary">
  </if>
  <if condition="$item['type'] == 2">
  <div class="panel panel-info">
  </if>
    <div class="panel-heading">{$item.type_name}</div>
    <div class="panel-body">
      <div class="clearfix">
        <div class="pull-left">
          <p style="font-size:16px;">{$item.name}</p>
          <p class="text-gray">{$item.desc}</p>
          <p class="text-danger">{$item['price']/100}元</p>
        </div>
        <div class="pull-right">
          <if condition="$item['type'] == 1">
          <div><a href="{:U('/search/report', ['product_id' => $item['id']])}" class="btn btn-small btn-primary">报告样例</a></div> 
          <div><a href="{:U('/search/report', ['product_id' => $item['id']])}" class="btn btn-small btn-warning" style="margin-top:10px;">立即查询</a></div> 
          </if>
          <if condition="$item['type'] == 2">
          <div><a href="{:U('/data_platform/index', ['product_id' => $item['id']])}" class="btn btn-small btn-info">报告样例</a></div> 
          <div><a href="{:U('/data_platform/index', ['product_id' => $item['id']])}" class="btn btn-small btn-warning" style="margin-top:10px;">立即查询</a></div> 
          </if>
        </div>
      </div>
    </div>
  </div>
  </foreach>
</div>
</block>
