<extend name="Base/common" />
<block name="body">
<div class="page-container">
  <form action="#" method="post" class="form form-horizontal">
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">
        <span class="c-red">*</span>
        代理等级
      </label>
      <div class="formControls col-xs-8 col-sm-9">
        <select name="lv" class="select">
          <option value="1" <if condition="$agent_info['lv'] eq 1">selected</if>>一级代理</option>
          <option value="2" <if condition="$agent_info['lv'] eq 2">selected</if>>二级代理</option>
          <option value="3" <if condition="$agent_info['lv'] eq 3">selected</if>>三级代理</option>
        </select>
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">
        <span class="c-red">*</span>
        姓名
      </label>
      <div class="formControls col-xs-8 col-sm-9">
        <input type="text" class="input-text" value="{$agent_info['username']}" placeholder="" name="username">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">
        <span class="c-red">*</span>
        电话
      </label>
      <div class="formControls col-xs-8 col-sm-9">
        <input type="text" class="input-text" value="{$agent_info['mobile']}" placeholder="" name="mobile">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">
        <span class="c-red">*</span>
        邮箱
      </label>
      <div class="formControls col-xs-8 col-sm-9">
        <input type="text" class="input-text" value="{$agent_info['email']}" placeholder="" name="email">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">
        <span class="c-red">*</span>
        QQ
      </label>
      <div class="formControls col-xs-8 col-sm-9">
        <input type="text" class="input-text" value="{$agent_info['qq']}" placeholder="" name="qq">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3">
        <span class="c-red">*</span>
        微信 
      </label>
      <div class="formControls col-xs-8 col-sm-9">
        <input type="text" class="input-text" value="{$agent_info['wx']}" placeholder="" name="wx">
      </div>
    </div>
    <div class="row cl">
      <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
        <button type="submit" class="btn btn-success radius" id="admin-role-save"><i class="icon-ok"></i> 确定</button>
      </div>
    </div>
  </form>
</div>
</block>
