<extend name="Base/common" />
<block name="body">
<div class="page-container">
  <table class="table table-bordered">
    <tr>
      <td>代理等级</td>
      <td>{$agent_info['lv']}</td>
    </tr>
    <tr>
      <td>用户名</td>
      <td>{$agent_info['username']}</td>
    </tr>
    <tr>
      <td>手机</td>
      <td>{$agent_info['mobile']}</td>
    </tr>
    <tr>
      <td>邮箱</td>
      <td>{$agent_info['email']}</td>
    </tr>
    <tr>
      <td>QQ</td>
      <td>{$agent_info['qq']}</td>
    </tr>
    <tr>
      <td>微信</td>
      <td>{$agent_info['wx']}</td>
    </tr>
  </table>
</div>
</block>
