<extend name="Base/base" />
<block name="body">
<div><img style="height:140px; width:100%;" src="http://m.cnzjcf.com/upload/20180122141901.jpg"/></div>
<div class="section" style="padding:10px; width:100%; overflow-x:scroll; overflow-y:hidden; white-space:nowrap">
  <foreach name="user_list" item="item">
  <div style="text-align:center; display:inline-block; box-sizing:border-box; width:33%;">
    <div class="avatar avatar-xl circle space-sm">
      <img src="__PUBLIC__/avatar.png" alt="">
    </div>
    <div>{$item['username']}</div>
    <div>总收益率：{$item['t_r']}%</div>
    <div>月收益率：{$item['m_r']}%</div>
    <div><a href="btn danger outline">取消订阅</a></div>
  </div>
  </foreach>
</div>
<div class="section" style="padding:10px;">
  <nav class="nav" data-display data-selector="a" data-show-single="true" data-active-class="active">
    <a class="active" data-target="#tab1">总收益</a>
    <a data-target="#tab2">日收益</a>
    <a data-target="#tab3">周收益</a>
    <a data-target="#tab4">月收益</a>
  </nav>
  <div>
    <div class="box primary in" id="tab1">
      <table class="table">
        <tbody>
          <foreach name="user_list1" item="item">
          <tr>
            <td>{$key + 1}</td>
            <td>
              <div class="avatar circle space-sm">
                <img src="__PUBLIC__/avatar.png" alt="">
              </div>
            </td>
            <td>{$item['username']}</td>
            <td>收益率：{$item['t_r']}%</td>
            <td><a href="">></a></td>
          </tr>
          </foreach>
        </tbody> 
      </table>
    </div>
    <div class="box red hidden" id="tab2">
      <table class="table">
        <tbody>
          <foreach name="user_list2" item="item">
          <tr>
            <td>{$key + 1}</td>
            <td>
              <div class="avatar circle space-sm">
                <img src="__PUBLIC__/avatar.png" alt="">
              </div>
            </td>
            <td>{$item['username']}</td>
            <td>收益率：{$item['t_r']}%</td>
            <td><a href="">></a></td>
          </tr>
          </foreach>
        </tbody> 
      </table>
    </div>
    <div class="box green hidden" id="tab3">
      <table class="table">
        <tbody>
          <foreach name="user_list3" item="item">
          <tr>
            <td>{$key + 1}</td>
            <td>
              <div class="avatar circle space-sm">
                <img src="__PUBLIC__/avatar.png" alt="">
              </div>
            </td>
            <td>{$item['username']}</td>
            <td>收益率：{$item['t_r']}%</td>
            <td><a href="">></a></td>
          </tr>
          </foreach>
        </tbody> 
      </table>
    </div>
    <div class="box hidden" id="tab4">
      <table class="table">
        <tbody>
          <foreach name="user_list4" item="item">
          <tr>
            <td>{$key + 1}</td>
            <td>
              <div class="avatar circle space-sm">
                <img src="__PUBLIC__/avatar.png" alt="">
              </div>
            </td>
            <td>{$item['username']}</td>
            <td>收益率：{$item['t_r']}%</td>
            <td><a href="">></a></td>
          </tr>
          </foreach>
        </tbody> 
      </table>
    </div>
  </div>
</div>
</block>
