<extend name="Base/base" />
<block name="body">
<div class="row with-padding bg-primary" style="font-size:20px; padding:10px 0px;">
  <div class="col-xs-3 text-center">
    <a href="/index/index" style="color:#ffffff;"><i class="icon-chevron-left"></i></a>
  </div>
  <div class="col-xs-6 text-center">
    <strong>报告</strong>
  </div>
  <div class="col-xs-3 text-center">
    <a href="/user/home" style="color:#ffffff;"><i class="icon-user"></i></a>
  </div>
</div>
<div class="container" style="margin-top:20px;" class="panel load-indicator loading" data-loading="报告生成中，请稍后...">
  <input type="hidden" name="id" id="id" value="{$id}"/>
  <div class="panel load-indicator loading" data-loading="正在生成报告,请耐心等待...">
    <div class="panel-heading" contenteditable="">信用报告</div>
    <div class="panel-body" contenteditable="">数据采集</div>
  </div>
</div>  
</block>
<block name="js">
<script>
var t = '';
function get_search_res() {
  var id = $('#id').val();
  $.ajax({
    url: '/search/get_search_res',
    type: 'POST',
    dataType: 'json',
    data: {'id': id},
    success: function (res) {
      console.log(res);
      if (res.status == 1) {
        clearInterval(t);
        window.location.href = "/search/report_his/id/" + id;
      }
    }
  });
}
$(function(){
  t = setInterval("get_search_res()", 1000);
})
</script>
</block>
