<extend name="Base/base" />
<block name="body">
<div class="container" class="panel load-indicator loading" data-loading="报告生成中，请稍后...">
  <input type="hidden" name="id" id="id" value="{$id}"/>
</div>
</block>
<block name="js">
<script>
window.onload = function(){
  var id = $('#id').val();
  setInterval("get_search_res", 1000);
  function get_search_res() {
    $.ajax({
      url: '/search/get_search_res',
      type: 'POST',
      dataType: 'json',
      data: {'id': id},
      success: function (res) {
        if (res.status == 1) {
          window.location.href = "/search/get_report_data/id/" + search_id;
        }
      }
    });
  }
}
</script>
</block>
