<extend name="Base/base" />
<block name="body">
<div class="row with-padding bg-primary" style="font-size:20px; padding:10px 0px;">
  <div class="col-xs-3 text-center">
    <a href="/index/product" style="color:#ffffff;"><i class="icon-chevron-left"></i></a> 
  </div>
  <div class="col-xs-6 text-center">
    <strong>报告查询</strong>
  </div>
  <div class="col-xs-3 text-center">
    <a href="/user/home" style="color:#ffffff;"><i class="icon-user"></i></a> 
  </div>
</div>
<div class="container" style="margin-top:20px;">
  <h2>基本信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>姓名</td>
      <td>{$data.user_basic.user_name}</td>
    </tr>
    <tr>
      <td>身份证号码</td>
      <td>{$data.user_basic.user_idcard}</td>
    </tr>
    <tr>
      <td>年龄</td>
      <td>{$data.user_basic.user_age}</td>
    </tr>
    <tr>
      <td>身份证所在地</td>
      <td>
        {$data.user_basic.user_province}
        {$data.user_basic.user_city}
        {$data.user_basic.user_region}
      </td>
    </tr>
    <tr>
      <td>性别</td>
      <td>{$data.user_basic.user_gender}</td>
    </tr>
    <tr>
      <td>手机所属运营商</td>
      <td>{$data.user_basic.user_phone_operator}</td>
    </tr>
    <tr>
      <td>手机号码</td>
      <td>{$data.user_basic.user_phone}</td>
    </tr>
    <tr>
      <td>符合身份证号码编码规范</td>
      <td>{$data.user_basic.user_idcard_valid}</td>
    </tr>
  </table>
  <h2>借条信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>借条借贷总次数</td>
      <td>{$data.iou_statistic.total_loan_times}</td>
    </tr>
    <tr>
      <td>借条借贷总金额</td>
      <td>{$data.iou_statistic.total_loan_amount}</td>
    </tr>
    <tr>
      <td>借条最近状态</td>
      <td>{$data.iou_statistic.recent_iou_status}</td>
    </tr>
    <tr>
      <td>最近一次借入日期</td>
      <td>
        <notempty name="data.iou_statistic.recent_loan_time">
        {$data.iou_statistic.recent_loan_time|date="y-m-d H:i:s",###}
        </notempty>
      </td>
    </tr>
    <tr>
      <td>最近一次应还款日期</td>
      <td>
        <notempty name="data.iou_statistic.recent_pay_back_time">
        {$data.iou_statistic.recent_pay_back_time|date="y-m-d H:i:s",###}
        </notempty>
      </td>
    </tr>
    <tr>
      <td>还款中借款笔数</td>
      <td>{$data.iou_statistic.in_repayment_times}</td>
    </tr>
    <tr>
      <td>还款中本金总额</td>
      <td>{$data.iou_statistic.in_repayment_amount}</td>
    </tr>
    <tr>
      <td>还款中利息总额</td>
      <td>{$data.iou_statistic.in_repayment_interest}</td>
    </tr>
    <tr>
      <td>逾期已还借款笔数</td>
      <td>{$data.iou_statistic.overdue_payment_times}</td>
    </tr>
    <tr>
      <td>逾期已还本金总额</td>
      <td>{$data.iou_statistic.overdue_payment_amount}</td>
    </tr>
    <tr>
      <td>逾期已还利息总额</td>
      <td>{$data.iou_statistic.overdue_payment_interest}</td>
    </tr>
    <tr>
      <td>逾期借款笔数</td>
      <td>{$data.iou_statistic.overdue_times}</td>
    </tr>
    <tr>
      <td>逾期本金总额</td>
      <td>{$data.iou_statistic.overdue_amount}</td>
    </tr>
    <tr>
      <td>逾期利息总额</td>
      <td>{$data.iou_statistic.overdue_interest}</td>
    </tr>
    <tr>
      <td>借条平台数_360天</td>
      <td>{$data.iou_statistic.d360_iou_platform_cnt}</td>
    </tr>
    <tr>
      <td>借条平台数_90天</td>
      <td>{$data.iou_statistic.d90_iou_platform_cnt}</td>
    </tr>
    <tr>
      <td>借条平台数_30天</td>
      <td>{$data.iou_statistic.d30_iou_platform_cnt}</td>
    </tr>
    <tr>
      <td>借条查询次数_360天</td>
      <td>{$data.iou_statistic.d360_iou_query_times}</td>
    </tr>
    <tr>
      <td>借条查询次数_90天</td>
      <td>{$data.iou_statistic.d90_iou_query_times}</td>
    </tr>
    <tr>
      <td>借条查询次数_30天</td>
      <td>{$data.iou_statistic.d30_iou_query_times}</td>
    </tr>
  </table>
  <h2>社交特征模块</h2>
  <div class="panel">
    <div class="panel-heading">基本社交特征</div>
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <tr>
          <td>灰度分</td>
          <td>{$data.user_gray.phone_gray_score} (分数区间为0~100,10分以下为高危人群) </td>
        </tr>
        <tr>
          <td>社交活跃度</td>
          <td>{$data.user_gray.social_liveness}</td>
        </tr>
        <tr>
          <td>社交影响力</td>
          <td>{$data.user_gray.social_influence}</td>
        </tr>
        <tr>
          <td>是否种子号</td>
          <td>{$data.user_gray.has_report} (是否成功产生过蜜蜂报告)</td>
        </tr>
        <tr>
          <td>最近活跃时间</td>
          <td>{$data['user_gray']['recent_active_time']/1000|date="y-m-d H:i:s",###} (以下联系人信息的统计窗口在最近活跃时间的前半年内)</td>
        </tr>
        <tr>
          <td>被标记的黑名单分类</td>
          <td>
            <foreach name="data.user_blacklist.blacklist_category" item="item">
            {$item}
            </foreach>
          </td>
        </tr>
        <tr>
          <td>姓名和手机是否在黑名单</td>
          <td>{$data.user_blacklist.blacklist_name_with_phone}</td>
        </tr>
        <tr>
          <td>姓名和手机黑名单信息更新时间</td>
          <td>{$data.user_blacklist.blacklist_update_time_name_phone|date="y-m-d H:i:s",###}</td>
        </tr>
        <tr>
          <td>身份证和姓名是否在黑名单</td>
          <td>{$data.user_blacklist.blacklist_name_with_idcard}</td>
        </tr>
        <tr>
          <td>身份证和姓名黑名单信息更新时间</td>
          <td>{$data.user_blacklist.blacklist_update_time_name_idcard|date="y-m-d H:i:s",###}</td>
        </tr>
      </table>
      <h2>黑名单详细信息</h2>
      <table class="table table-bordered table-striped">
        <tr>
          <td>名称</td>
          <td>内容</td>
        </tr>
        <foreach name="data.user_blacklist.blacklist_details" item="item">
        <tr>
          <td>{$item.details_key}</td>
          <td>{$item.details_value}</td>
        </tr>
        </foreach>
      </table>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">联系人数相关字段</div>
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <tr>
          <td>主动联系人数</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_to_all}</td>
        </tr>
        <tr>
          <td>主动联系人数在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_to_all}</td>
        </tr>
        <tr>
          <td>主动联系的黑号数</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_to_black}</td>
        </tr>
        <tr>
          <td>主动联系的黑号数在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_to_black}</td>
        </tr>
        <tr>
          <td>主动联系人中曾为申请人的人数</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_to_applied}</td>
        </tr>
        <tr>
          <td>主动联系人曾为申请人的人数在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_to_applied}</td>
        </tr>
        <tr>
          <td>被动联系人数</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_be_all}</td>
        </tr>
        <tr>
          <td>被动联系人数在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_be_all}</td>
        </tr>
        <tr>
          <td>被动联系的黑号数</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_be_black}</td>
        </tr>
        <tr>
          <td>被动联系的黑号数在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_be_black}</td>
        </tr>
        <tr>
          <td>被动联系人中曾为申请人的人数</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_be_applied}</td>
        </tr>
        <tr>
          <td>被动联系人中曾为申请人的人数在群体中百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_be_applied}</td>
        </tr>
        <tr>
          <td>一阶联系人总数(主动、被动联系人数合并去重)</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_all}</td>
        </tr>
        <tr>
          <td>一阶联系人数在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_all}</td>
        </tr>
        <tr>
          <td>一阶联系(直接联系)黑号总数</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_black}</td>
        </tr>
        <tr>
          <td>一阶联系黑号数在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_black}</td>
        </tr>
        <tr>
          <td>二阶联系(间接联系)黑号总数</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_black2}</td>
        </tr>
        <tr>
          <td>二阶联系黑号总数在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_black2}</td>
        </tr>
        <tr>
          <td>联系人曾为申请人的人数</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_applied}</td>
        </tr>
        <tr>
          <td>联系人曾为申请人的人数在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_applied}</td>
        </tr>
        <tr>
          <td>一阶联系人黑号数占比</td>
          <td>{$data.user_gray.contacts_number_statistic.black_ratio}</td>
        </tr>
        <tr>
          <td>一阶联系人黑号数占比在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_black_ratio}</td>
        </tr>
        <tr>
          <td>引起黑名单的一阶联系人数</td>
          <td>{$data.user_gray.contacts_number_statistic.cnt_router}</td>
        </tr>
        <tr>
          <td>引起黑名单的一阶联系人数在群体中的百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_cnt_router}</td>
        </tr>
        <tr>
          <td>引起黑名单的一阶联系人数占比</td>
          <td>{$data.user_gray.contacts_number_statistic.router_ratio}</td>
        </tr>
        <tr>
          <td>引起黑名单的一阶联系人数占比在群体中百分位</td>
          <td>{$data.user_gray.contacts_number_statistic.pct_router_ratio}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">联系权重R、F、M相关字段</div>
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <tr>
          <td>与所有联系人的最近主动通话时间</td>
          <td>
            <notempty name="data.user_gray.contacts_rfm.recent_time_to_all">
            {$data['user_gray']['contacts_rfm']['recent_time_to_all']/1000|date="y-m-d H:i:s",###}
            </notempty>
          </td>
        </tr>
        <tr>
          <td>与所有联系人的最近被动通话时间</td>
          <td>
            <notempty name="data.user_gray.contacts_rfm.recent_time_be_all">
            {$data['user_gray']['contacts_rfm']['recent_time_be_all']/1000|date="y-m-d H:i:s",###}
            </notempty>
          </td>
        </tr>
        <tr>
          <td>与黑号的最近主动通话时间</td>
          <td>
            <notempty name="data.user_gray.contacts_rfm.recent_time_to_black">
            {$data['user_gray']['contacts_rfm']['recent_time_to_black']/1000|date="y-m-d H:i:s",###}
            </notempty>
          </td>
        </tr>
        <tr>
          <td>与黑号的最近被动通话时间</td>
          <td>
            <notempty name="data.user_gray.contacts_rfm.recent_time_be_black">
            {$data['user_gray']['contacts_rfm']['recent_time_be_black']/1000|date="y-m-d H:i:s",###}
            </notempty>
          </td>
        </tr>
        <tr>
          <td>与申请人的最近主动通话时间</td>
          <td>{$data['user_gray']['contacts_rfm']['recent_time_to_applied']/1000|date="y-m-d H:i:s",###}</td>
        </tr>
        <tr>
          <td>与申请人的最近被动通话时间</td>
          <td>{$data['user_gray']['contacts_rfm']['recent_time_be_applied']/1000|date="y-m-d H:i:s",###}</td>
        </tr>
        <tr>
          <td>与所有联系人的主动总通话次数</td>
          <td>{$data.user_gray.contacts_rfm.call_cnt_to_all}</td>
        </tr>
        <tr>
          <td>与所有联系人的被动总通话次数</td>
          <td>{$data.user_gray.contacts_rfm.call_cnt_be_all}</td>
        </tr>
        <tr>
          <td>与黑号的主动总通话次数</td>
          <td>{$data.user_gray.contacts_rfm.call_cnt_to_black}</td>
        </tr>
        <tr>
          <td>与黑号的被动总通话次数</td>
          <td>{$data.user_gray.contacts_rfm.call_cnt_be_black}</td>
        </tr>
        <tr>
          <td>与申请人的主动通话次数</td> 
          <td>{$data.user_gray.contacts_rfm.call_cnt_to_apptded}</td> 
        </tr>
        <tr>
          <td>与申请人的被动通话次数</td> 
          <td>{$data.user_gray.contacts_rfm.call_cnt_be_apptded}</td> 
        </tr>
        <tr>
          <td>与所有联系人的主动总通话时长(秒)</td> 
          <td>{$data.user_gray.contacts_rfm.time_spent_to_all}</td> 
        </tr>
        <tr>
          <td>与所有联系人的被动总通话时长(秒)</td> 
          <td>{$data.user_gray.contacts_rfm.time_spent_be_all}</td> 
        </tr>
        <tr>
          <td>与黑号的主动通话时长(秒)</td> 
          <td>{$data.user_gray.contacts_rfm.time_spent_to_black}</td> 
        </tr>
        <tr>
          <td>与黑号的被动通话时长(秒)</td> 
          <td>{$data.user_gray.contacts_rfm.time_spent_be_black}</td> 
        </tr>
        <tr>
          <td>与申请人的主动通话时长(秒)</td> 
          <td>{$data.user_gray.contacts_rfm.time_spent_to_apptded}</td> 
        </tr>
        <tr>
          <td>与申请人的被动通话时长(秒)</td> 
          <td>{$data.user_gray.contacts_rfm.time_spent_be_apptded}</td> 
        </tr>
      </table>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">与联系人的最大亲密度</div>
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <tr>
          <td>与所有联系人的最大主动联系亲密度</td> 
          <td>{$data.user_gray.contacts_closest.weight_to_al}</td>
        </tr>
        <tr>
          <td>与所有联系人的最大被动联系亲密度</td>
          <td>{$data.user_gray.contacts_closest.weight_be_al}</td>
        </tr>
        <tr>
          <td>与所有联系人的最大互动联系亲密度</td>
          <td>{$data.user_gray.contacts_closest.weight_al}</td>
        </tr>
        <tr>
          <td>与黑号的最大主动联系亲密度</td>
          <td>{$data.user_gray.contacts_closest.weight_to_black}</td>
        </tr>
        <tr>
          <td>与黑号的最大被动联系亲密度</td>
          <td>{$data.user_gray.contacts_closest.weight_be_black}</td>
        </tr>
        <tr>
          <td>与黑号的最大互动联系亲密度</td>
          <td>{$data.user_gray.contacts_closest.weight_black}</td>
        </tr>
        <tr>
          <td>与申请人的最大主动联系亲密度</td>
          <td>{$data.user_gray.contacts_closest.weight_to_apptded}</td>
        </tr>
        <tr>
          <td>与申请人的最大被动联系亲密度</td>
          <td>{$data.user_gray.contacts_closest.weight_be_apptded}</td>
        </tr>
        <tr>
          <td>与申请人的最大互动联系亲密度</td>
          <td>{$data.user_gray.contacts_closest.weight_apptded}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">联系人灰度分信息</div>
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <tr>
          <td>主动联系最亲密联系人的灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.most_famitdar_to_all}</td> 
        </tr>
        <tr>
          <td>被动联系最亲密联系人的灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.most_famitdar_be_all}</td> 
        </tr>
        <tr>
          <td>互动联系最亲密联系人的灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.most_famitdar_all}</td> 
        </tr>
        <tr>
          <td>主动联系最亲密申请人的灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.most_famitdar_to_apptded}</td> 
        </tr>
        <tr>
          <td>被动联系最亲密申请人的灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.most_famitdar_be_apptded}</td> 
        </tr>
        <tr>
          <td>互动联系最亲密申请人的灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.most_famitdar_apptded}</td> 
        </tr>
        <tr>
          <td>主动联系的联系人的最高灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.to_max}</td> 
        </tr>
        <tr>
          <td>主动联系的联系人的平均灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.to_mean}</td> 
        </tr>
        <tr>
          <td>主动联系的联系人的最低灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.to_min}</td> 
        </tr>
        <tr>
          <td>被动联系的联系人的最高灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.be_max}</td> 
        </tr>
        <tr>
          <td>被动联系的联系人的平均灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.be_mean}</td> 
        </tr>
        <tr>
          <td>被动联系的联系人的最低灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.be_min}</td> 
        </tr>
        <tr>
          <td>联系人的最高灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.max}</td> 
        </tr>
        <tr>
          <td>联系人的平均灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.mean}</td> 
        </tr>
        <tr>
          <td>联系人的最低灰度分</td> 
          <td>{$data.user_gray.contacts_gray_score.min}</td> 
        </tr>
      </table>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">联系人的分布</div>
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <tr>
          <td>主动联系的亲密联系人数</td> 
          <td>{$data.user_gray.contacts_relation_distribution.to_is_famitdar}</td> 
        </tr>
        <tr>
          <td>主动联系的中等亲密联系人数</td> 
          <td>{$data.user_gray.contacts_relation_distribution.to_median_famitdar}</td> 
        </tr>
        <tr>
          <td>主动联系的非亲密联系人数</td> 
          <td>{$data.user_gray.contacts_relation_distribution.to_not_famitdar}</td> 
        </tr>
        <tr>
          <td>被动联系的亲密联系人数</td> 
          <td>{$data.user_gray.contacts_relation_distribution.be_is_famitdar}</td> 
        </tr>
        <tr>
          <td>被动联系的中等亲密联系人数</td> 
          <td>{$data.user_gray.contacts_relation_distribution.be_median_famitdar}</td> 
        </tr>
        <tr>
          <td>被动联系的非亲密联系人数</td> 
          <td>{$data.user_gray.contacts_relation_distribution.be_not_famitdar}</td> 
        </tr>
        <tr>
          <td>互动联系的亲密联系人数</td> 
          <td>{$data.user_gray.contacts_relation_distribution.is_famitdar}</td> 
        </tr>
        <tr>
          <td>互动联系的中等亲密联系人数</td> 
          <td>{$data.user_gray.contacts_relation_distribution.median_famitdar}</td> 
        </tr>
        <tr>
          <td>互动联系的非亲密联系人数</td> 
          <td>{$data.user_gray.contacts_relation_distribution.not_famitdar}</td> 
        </tr>
      </table>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">联系人的查询历史</div>
    <div class="panel-body">
      <table class="table table-bordered table-striped">
        <tr>
          <td>主动联系的人的最近一次查询时间</td> 
          <td>
            <notempty name="data.user_gray.contacts_query.to_recent_query_time">
            {$data['user_gray']['contacts_query']['to_recent_query_time']/1000|date="y-m-d H:i:s",###}
            </notempty>
          </td> 
        </tr>
        <tr>
          <td>被动联系的人的最近一次查询时间</td> 
          <td>
            <notempty name="data.user_gray.contacts_query.be_recent_query_time">
            {$data['user_gray']['contacts_query']['be_recent_query_time']/1000|date="y-m-d H:i:s",###}
            </notempty>
          </td> 
        </tr>
        <tr>
          <td>前半月内主动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.to_query_cnt_05}</td> 
        </tr>
        <tr>
          <td>前半月内主动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.to_org_cnt_05}</td> 
        </tr>
        <tr>
          <td>前半月内被动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.be_query_cnt_05}</td> 
        </tr>
        <tr>
          <td>前半月内被动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.be_org_cnt_05}</td> 
        </tr>
        <tr>
          <td>前半月内联系人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.query_cnt_05}</td> 
        </tr>
        <tr>
          <td>前半月内联系人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.org_cnt_05}</td> 
        </tr>
        <tr>
          <td>前1月内主动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.to_query_cnt_1}</td> 
        </tr>
        <tr>
          <td>前1月内主动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.to_org_cnt_1}</td> 
        </tr>
        <tr>
          <td>前1月内被动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.be_query_cnt_1}</td> 
        </tr>
        <tr>
          <td>前1月内被动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.be_org_cnt_1}</td> 
        </tr>
        <tr>
          <td>前1月内联系人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.query_cnt_1}</td> 
        </tr>
        <tr>
          <td>前1月内联系人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.org_cnt_1}</td> 
        </tr>
        <tr>
          <td>前2月内主动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.to_query_cnt_2}</td> 
        </tr>
        <tr>
          <td>前2月内主动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.to_org_cnt_2}</td> 
        </tr>
        <tr>
          <td>前2月内被动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.be_query_cnt_2}</td> 
        </tr>
        <tr>
          <td>前2月内被动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.be_org_cnt_2}</td> 
        </tr>
        <tr>
          <td>前2月内联系人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.query_cnt_2}</td> 
        </tr>
        <tr>
          <td>前2月内联系人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.org_cnt_2}</td> 
        </tr>
        <tr>
          <td>前3月内主动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.to_query_cnt_3}</td> 
        </tr>
        <tr>
          <td>前3月内主动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.to_org_cnt_3}</td> 
        </tr>
        <tr>
          <td>前3月内被动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.be_query_cnt_3}</td> 
        </tr>
        <tr>
          <td>前3月内被动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.be_org_cnt_3}</td> 
        </tr>
        <tr>
          <td>前3月内联系人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.query_cnt_3}</td> 
        </tr>
        <tr>
          <td>前3月内联系人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.org_cnt_3}</td> 
        </tr>
        <tr>
          <td>前6月内主动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.to_query_cnt_6}</td> 
        </tr>
        <tr>
          <td>前6月内主动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.to_org_cnt_6}</td> 
        </tr>
        <tr>
          <td>前6月内被动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.be_query_cnt_6}</td> 
        </tr>
        <tr>
          <td>前6月内被动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.be_org_cnt_6}</td> 
        </tr>
        <tr>
          <td>前6月内联系人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.query_cnt_6}</td> 
        </tr>
        <tr>
          <td>前6月内联系人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.org_cnt_6}</td> 
        </tr>
        <tr>
          <td>前9月内主动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.to_query_cnt_9}</td> 
        </tr>
        <tr>
          <td>前9月内主动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.to_org_cnt_9}</td> 
        </tr>
        <tr>
          <td>前9月内被动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.be_query_cnt_9}</td> 
        </tr>
        <tr>
          <td>前9月内被动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.be_org_cnt_9}</td> 
        </tr>
        <tr>
          <td>前9月内联系人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.query_cnt_9}</td> 
        </tr>
        <tr>
          <td>前9月内联系人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.org_cnt_9}</td> 
        </tr>
        <tr>
          <td>前12月内主动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.to_query_cnt_12}</td> 
        </tr>
        <tr>
          <td>前12月内主动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.to_org_cnt_12}</td> 
        </tr>
        <tr>
          <td>前12月内被动联系的人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.be_query_cnt_12}</td> 
        </tr>
        <tr>
          <td>前12月内被动联系的人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.be_org_cnt_12}</td> 
        </tr>
        <tr>
          <td>前12月内联系人的查询次数</td> 
          <td>{$data.user_gray.contacts_query.query_cnt_12}</td> 
        </tr>
        <tr>
          <td>前12月内联系人的查询机构数</td> 
          <td>{$data.user_gray.contacts_query.org_cnt_12}</td> 
        </tr>
      </table>
    </div>
  </div>
  <h2>手机存疑</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>使用过此手机的其他姓名</td>
      <td>最后使用时间</td>
    </tr>
    <foreach name="data.user_phone_suspicion.phone_with_other_names" item="item">
    <tr>
      <td>{$item.susp_name}</td>
      <td>{$item.susp_updt}</td>
    </tr>
    </foreach>
    <tr>
      <td>使用过此手机的其他身份证</td>
      <td>最后使用时间</td>
    </tr>
    <foreach name="data.user_phone_suspicion.phone_with_other_idcards" item="item">
    <tr>
      <td>{$item.susp_idcard}</td>
      <td>{$item.susp_updt}</td>
    </tr>
    </foreach>
    <tr>
      <td>提供数据的机构类型</td>
      <td>最后使用时间</td>
    </tr>
    <foreach name="data.user_phone_suspicion.phone_applied_in_orgs" item="item">
    <tr>
      <td>{$item.susp_org_type}</td>
      <td>{$item.susp_updt}</td>
    </tr>
    </foreach>
  </table>
  <h2>身份证存疑</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>使用过此身份证的其他姓名</td>
      <td>最后使用时间</td>
    </tr>
    <foreach name="data.user_idcard_suspicion.idcard_with_other_names" item="item">
    <tr>
      <td>{$item.susp_name}</td>
      <td>{$item.susp_updt}</td>
    </tr>
    </foreach>
  </table>
  <table class="table table-bordered table-striped">
    <tr> 
      <th>使用过此身份证的其他手机</th> 
      <th>最后使用时间</th> 
      <th>运营商名称</th> 
      <th>归属地</th> 
      <th>出现次数</th> 
    </tr> 
    <foreach name="data.user_idcard_suspicion.idcard_with_other_phones" item="item">
    <tr>
      <td>{$item.susp_phone}</td>
      <td>{$item.susp_updt}</td>
      <td>{$item.susp_phone_operator}</td>
      <td>{$item.times}</td>
    </tr>
    </foreach>
  </table>
  <table class="table table-bordered table-striped">
    <tr> 
      <th>提供数据的机构类型</th> 
      <th>最后使用时间</th> 
    </tr> 
    <foreach name="data.user_idcard_suspicion.idcard_applied_in_orgs" item="item">
    <tr>
      <td>{$item.susp_org_type}</td>
      <td>{$item.susp_updt}</td>
    </tr>
    </foreach>
  </table>
  <h2>机构历史查询</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>查询机构数</td>
      <td>{$data.user_searched_statistic.searched_org_cnt}</td>
      <td> (历史查询机构统计-已去重)</td>
    </tr>
    <tr> 
      <th>查询日期</th> 
      <th>机构类型</th> 
      <th>是否是本机构查询</th> 
    </tr> 
    <foreach name="data.user_searched_history_by_orgs" item="item">
    <tr>
      <td>{$item.searched_date}</td>
      <td>{$item.searched_org}</td>
      <td>{$item.org_self}</td>
    </tr>
    </foreach>
  </table>
  <h2>机构批量查询历史</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <th>查询日期</th> 
      <th>机构类型</th> 
      <th>是否是本机构查询</th> 
    </tr>
    <foreach name="data.user_batch_searched_history_by_orgs" item="item">
    <tr>
      <td>{$item.searched_date}</td>
      <td>{$item.searched_org}</td>
      <td>{$item.org_self}</td>
    </tr>
    </foreach>
  </table>
  <h2>历史查询记录</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>7天内历史查询</td>
      <td></td>
    </tr>
    <td>查询次数</td> 
    <td>{$data.user_searched_history_by_day.d_7.cnt}</td> 
    </tr>
    <tr> 
      <td>查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_7.cnt_org}</td> 
    </tr>
    <tr> 
      <td>现金贷查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_7.cnt_cash}</td> 
    </tr>
    <tr> 
      <td>现金贷查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_7.cnt_org_cash}</td> 
    </tr>
    <tr> 
      <td>消费分期查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_7.cnt_cf}</td> 
    </tr>
    <tr> 
      <td>消费分期查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_7.cnt_org_cf}</td> 
    </tr>
    <tr> 
      <td>信用卡代还查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_7.cnt_cc}</td> 
    </tr>
    <tr> 
      <td>信用卡代还查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_7.cnt_org_cc}</td> 
    </tr>
    <tr> 
      <td>查询次数在总体查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_7.pct_cnt_all}</td> 
    </tr>
    <tr> 
      <td>查询机构数在总体查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_7.pct_cnt_org_all}</td> 
    </tr>
    <tr> 
      <td>查询次数在现金贷查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_7.pct_cnt_cash}</td> 
    </tr>
    <tr> 
      <td>查询机构数在现金贷查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_7.pct_cnt_org_cash}</td> 
    </tr>
    <tr> 
      <td>查询次数在消费分期查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_7.pct_cnt_cf}</td> 
    </tr>
    <tr> 
      <td>查询机构数在消费分期查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_7.pct_cnt_org_cf}</td> 
    </tr>
    <tr> 
      <td>查询次数在信用卡代还查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_7.pct_cnt_cc}</td> 
    </tr>
    <tr> 
      <td>查询机构数在信用卡代还查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_7.pct_cnt_org_cc}</td> 
    </tr>
    <tr> 
      <td>15天内历史查询</td> 
      <td></td> 
    </tr>
    <tr> 
      <td>查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_15.cnt}</td> 
    </tr>
    <tr> 
      <td>查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_15.cnt_org}</td> 
    </tr>
    <tr> 
      <td>现金贷查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_15.cnt_cash}</td> 
    </tr>
    <tr> 
      <td>现金贷查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_15.cnt_org_cash}</td> 
    </tr>
    <tr> 
      <td>消费分期查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_15.cnt_cf}</td> 
    </tr>
    <tr> 
      <td>消费分期查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_15.cnt_org_cf}</td> 
    </tr>
    <tr> 
      <td>信用卡代还查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_15.cnt_cc}</td> 
    </tr>
    <tr> 
      <td>信用卡代还查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_15.cnt_org_cc}</td> 
    </tr>
    <tr> 
      <td>查询次数在总体查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_15.pct_cnt_all}</td> 
    </tr>
    <tr> 
      <td>查询机构数在总体查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_15.pct_cnt_org_all}</td> 
    </tr>
    <tr> 
      <td>查询次数在现金贷查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_15.pct_cnt_cash}</td> 
    </tr>
    <tr> 
      <td>查询机构数在现金贷查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_15.pct_cnt_org_cash}</td> 
    </tr>
    <tr> 
      <td>查询次数在消费分期查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_15.pct_cnt_cf}</td> 
    </tr>
    <tr> 
      <td>查询机构数在消费分期查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_15.pct_cnt_org_cf}</td> 
    </tr>
    <tr> 
      <td>查询次数在信用卡代还查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_15.pct_cnt_cc}</td> 
    </tr>
    <tr> 
      <td>查询机构数在信用卡代还查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_15.pct_cnt_org_cc}</td> 
    </tr>
    <tr> 
      <td>30天内历史查询</td> 
      <td></td> 
    </tr>
    <tr> 
      <td>查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_30.cnt}</td> 
    </tr>
    <tr> 
      <td>查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_30.cnt_org}</td> 
    </tr>
    <tr> 
      <td>现金贷查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_30.cnt_cash}</td> 
    </tr>
    <tr> 
      <td>现金贷查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_30.cnt_org_cash}</td> 
    </tr>
    <tr> 
      <td>消费分期查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_30.cnt_cf}</td> 
    </tr>
    <tr> 
      <td>消费分期查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_30.cnt_org_cf}</td> 
    </tr>
    <tr> 
      <td>信用卡代还查询次数</td> 
      <td>{$data.user_searched_history_by_day.d_30.cnt_cc}</td> 
    </tr>
    <tr> 
      <td>信用卡代还查询机构数</td> 
      <td>{$data.user_searched_history_by_day.d_30.cnt_org_cc}</td> 
    </tr>
    <tr> 
      <td>查询次数在总体查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_30.pct_cnt_all}</td> 
    </tr>
    <tr> 
      <td>查询机构数在总体查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_30.pct_cnt_org_all}</td> 
    </tr>
    <tr> 
      <td>查询次数在现金贷查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_30.pct_cnt_cash}</td> 
    </tr>
    <tr> 
      <td>查询机构数在现金贷查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_30.pct_cnt_org_cash}</td> 
    </tr>
    <tr> 
      <td>查询次数在消费分期查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_30.pct_cnt_cf}</td> 
    </tr>
    <tr> 
      <td>查询机构数在消费分期查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_30.pct_cnt_org_cf}</td> 
    </tr>
    <tr> 
      <td>查询次数在信用卡代还查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_30.pct_cnt_cc}</td> 
    </tr>
    <tr> 
      <td>查询机构数在信用卡代还查询分布中的百分位</td> 
      <td>{$data.user_searched_history_by_day.d_30.pct_cnt_org_cc}</td> 
    </tr>
  </table>
  <h2>注册信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>注册APP数量</td> 
      <td>{$data.user_register_orgs.register_cnt}</td> 
    </tr>
    <tr>
      <td>APP类型</td>
      <td>注册数量</td>
    </tr>
    <foreach name="data.user_register_orgs.register_orgs_statistics" item="item">
    <tr>
      <td>{$item.details_key}</td>
      <td>{$item.details_value}</td>
    </tr>
    </foreach>
  </table>
  <h2>消费标签信息</h2> 
  <table class="table table-bordered table-striped">
    <tr>
      <td>是否有信用卡</td> 
      <td>{$data.consumer_label.if_own_cc}</td>
    </tr>
    <tr>
      <td>是否有白金卡</td> 
      <td>{$data.consumer_label.if_own_wg_cc}</td>
    </tr>
    <tr>
      <td>是否有车</td> 
      <td>{$data.consumer_label.if_own_car}</td>
    </tr>
    <tr>
      <td>是否购买保险产品</td> 
      <td>{$data.consumer_label.if_pay_ins}</td>
    </tr>
    <tr>
      <td>是否购买理财产品</td> 
      <td>{$data.consumer_label.if_fin_buy_pre6}</td>
    </tr>
    <tr>
      <td>消费能力指数</td> 
      <td>{$data.consumer_label.cst_score_finally}</td> 
    </tr>
  </table>
</div>
</block>
